pre {
  white-space: pre-wrap;
}

#stats-table tr:hover {
  background-color: #f0f0f0;
}

table.stats {
  width: 100%;
}

.stats th {
  text-align: left;
  background: gray;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.stats td {
  background: #f0f0f0;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  color: black;
}

.stats td.leftcell {
  text-align: left;
}

.stats td.stats_numb {
  font-size: 85%;
}

td.supported {
  color: #FFFFFF;
  background-color: green;
}

td.partially {
  background-color: orange;
}

td.not_supported {
}

/* styles related to jQuery tablesorter component */
table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #EEEEEE;
  border-bottom: #AAAAAA solid 1px;
  cursor: pointer;
  padding-right: 1.2em;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}

h2 {
  width: 100%;
  margin-top: 1.5em;
  border-bottom: 1px solid gray;
}

h2.plain {
  border-bottom: 0px
}

div.graph {
  height: 14px;
  width: 100px;
  border: 0px solid black;
  position: relative;
}

div.graphinline {
  display: inline;
  top: -10px;
}

div.translated {
  position: absolute;
  top: 0px;
  height:100%;
  left: 0%;
  background: #448844;
  background: url(../img/green-bar.png);
  background-repeat: repeat-x;
  color: black;
}

div.goodchange {
  position: absolute;
  top: 0px;
  height:100%;
  background: #55DD55;
  background: url(../img/cyan-bar.png);
  background-repeat: repeat-x;
  color: black;
}

div.fuzzy {
  position: absolute;
  top: 0px;
  height:100%;
  background: #4444AA;
  background: url(../img/purple-bar.png);
  background-repeat: repeat-x;
  color: black;
}

div.untranslated {
  position: absolute;
  height:100%;
  top: 0px;
  background: #FF4444;
  background: url(../img/red-bar.png);
  background-repeat: repeat-x;
  color: black;
}

div.docimages {
  display: inline;
  margin-left:110px;
}

a {
  text-decoration: none;
  color: #406080;
}

a:hover, a:visited {
  color: #6080a0;
}

a:hover {
  text-decoration: underline;
}

td.fuzzy {
  background: #c98e7f;
}

img {
  border: 0px;
}

img.screenshot {
  max-width: 550px;
  border: 0;
}

/* Used in people/person_list */
.person_list {
  padding-left: 65px;
  margin-bottom: 12px;
  clear: left;
}

.person_list .name {
  font-size: 110%;
}

.person_list img {
  height: 48px;
  float: left;
  margin-left: -65px;
}

/* Used in people/person_list */
.person_detail {
  clear: left;
}

.person_detail .name {
  font-size: 140%;
}

.person_detail .image {
  margin-right: 1em;
  float: left;
}

.person_detail .txt {
  margin-left: 95px;
}

div.mainpage {
  width: 80%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

div#authenticated {
  text-align: right;
  margin-right: 4px;
  font-size: small;
  font-style: italic;
  color: #aaaaaa;
}

div#language_menu {
  float: right;
  text-align: right;
}

.right_actions {
  float: right;
  text-align: right;
  padding: 6px;
  background: #DCEAF7;
  font-size: small;
}

.right_actions ul {
  list-style: none;
}

div.col1 { float: left }
div.col2 { float: left }
div.col3 { float: left }

p#show, p#hide {
  text-align: right;
  font-style: italic;
}

.path {
  font-size: x-small;
  font-style: italic;
  color: #666666;
}

.branch {
  font-size: x-small;
  font-style: italic;
  color: #666666;
}

.help {
  font-size: 10px;
  color: #999;
}

.comment {
  font-size: small;
  font-style: italic;
  color: #666666;
}

.djform td  {
  font-size: 10px;
  color: #999;
}
.djform th {
  vertical-align: top;
}

/* Used in vertimus_detail */
div#vertimus_stats {
  line-height: 1.7em;
}
/* Trick to clear floats after div */
div#vertimus_stats:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#vertimus_actions_title a {
  font-size: small;
  font-weight: normal;
}

.vertimus_action {
  margin: 1em 0 1.5em;
  border: solid #ddd 1px;
}

.vertimus_action_head {
  background: #eee;
  padding: 0.5em 12px 0;
}

.vertimus_action_content {
  padding: 0.5em 12px 0;
}

div.release_link {
  float: right;
  font-size:small;
  margin-left: 40px;
}

div.uploaded_file {
  float: right;
  padding: 2px;
  margin-left: 8px;
}

div.face_image {
  float: left;
  margin-right: 8px;
}

.error {
  font-style: italic;
  color: #666666;
}

.errornote {
  border: 1px solid;
  padding: 5px;
  background: #FAE28E;
}

ul.errorlist {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}

.errorlist li {
  font-size: 12px !important;
  display: block;
  padding: 4px 5px 4px 25px;
  margin: 0 0 3px 0;
  border: 1px solid red;
  color: white;
  background: red url(../img/admin/icon_alert.gif) 5px .3em no-repeat;
}

.footnote {
  text-align: center;
  font-size: small;
  clear: both;
  margin-top: 20px;
  color: #aaaaaa;
}

.hidden {
  display: none;
}
