table.stats {
  width: 100%;
}

.stats th { 
    text-align: left; 
    background: gray; 
    color: white;
    padding-left: 2px;
    padding-right: 2px; 
}

.stats td { 
    background: #f0f0f0; 
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
}

.stats td.leftcell { 
    text-align: left;
}

h2 {
    width: 100%;
    margin-top: 2em;
    border-bottom: 1px solid gray;
}

div.graph {
  height: 14px;
  width: 100px;
  border: 0px solid black; 
  position: relative;
}

div.translated {
  position: absolute; 
  top: 0px;
  height:100%; 
  left: 0%; 
  background: #448844;
  background: url(/media/img/green-bar.png);
  background-repeat: repeat-x;
  color: black;
}

div.goodchange {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #55DD55;
  background: url(/media/img/cyan-bar.png);
  background-repeat: repeat-x;
  color: black;
}

div.fuzzy {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #4444AA;
  background: url(/media/img/purple-bar.png);
  background-repeat: repeat-x;
  color: black;
}

div.untranslated {
  position: absolute; 
  height:100%; 
  top: 0px;
  background: #FF4444;
  background: url(/media/img/red-bar.png);
  background-repeat: repeat-x;
  color: black;
}

a {
  text-decoration: none;
  color: #406080;
}

a:hover, a:visited {
  color: #6080a0;
}

a:hover {
  text-decoration: underline;
}


td.fuzzy {
  background: #c98e7f;
}

img {
  border: 0px;
}

img.people {
  float: left;
  margin-left: -85px;
}

img.screenshot {
  max-width: 550px;
  border: 0;
}

div.maintainer {
  padding-left: 85px;
  margin-bottom: 12px;
  clear: left;
}

div.mainpage {
  width:80%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

div#authenticated {
  text-align: right;
  margin-right: 4px;
  font-size: small;
  font-style: italic;
  color: #aaaaaa;
}

div.right_actions {
 float: right;
 text-align: right;
 padding: 5px;
 background: #DCEAF7;
}

div.col1 { float: left }
div.col2 { float: left }
div.col3 { float: left }

p#show, p#hide {
  text-align: right;
  font-style: italic;
}

.path {
  font-size: x-small;
  font-style: italic;
  color: #666666;
}

.help {
  font-size:10px;
  color:#999;
}

.djform td  {
  font-size:10px;
  color:#999;
}
.djform th {
  vertical-align: top;
}

/* Used in vertimus_detail */
.vertimus_action {
  margin: 1em 0 1.5em;
  border: solid #ddd 1px;
}

.vertimus_action_head {
  background: #eee;
  padding: 0.5em 12px 0;
}

.vertimus_action_content {
  padding: 0.5em 12px 0;
}

div.release_link {
  float: right;
  font-size:small;
  margin-left: 40px;
}

div.uploaded_file {
  float: right;
  padding: 2px;
  margin-left: 8px;
}

.error {
  font-style: italic;
  color: #666666;
}

.errornote {
  border: 1px solid;
  padding: 5px;
  background: #FAE28E;
}

ul.errorlist {
  list-style: none;
  margin-left:0;
  padding:0; 
}
.errorlist li { 
  font-size:12px !important; 
  display:block; 
  padding:4px 5px 4px 25px; 
  margin:0 0 3px 0; 
  border:1px solid red; 
  color:white; 
  background:red url(../img/admin/icon_alert.gif) 5px .3em no-repeat; 
}

.footnote {
  text-align: center;
  font-size: small;
  clear: both;
  margin-top: 20px;
  color: #aaaaaa;
}

