body {
    direction: rtl;
}

.stats th { 
    text-align: right; 
    padding-right: 2px;
    padding-left: 2px; 
}

.stats td {
    padding-right: 2px;
    padding-left: 2px;
}

.stats td.left { 
    text-align: right;
}

.stats td.leftcell {
  text-align: right;
}

div.translated {
  right: 0%; 
}

div.maintainer {
  padding-right: 85px; 
  background-position: top right; 
}

div.mainpage {
  width:80%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

div#authenticated {
  text-align: left;
  margin-left: 4px;
}

div#language_menu {
  float: left;
  text-align: left;
}

.right_actions {
  float: left;
  text-align: left;
}

img.people {
  float: right;
  margin-right: -85px;
}

.person_detail {
  clear: right;
}

.person_detail .image {
  margin-left: 1em;
  float: right;
}

.person_detail .txt {
  margin-right: 95px;
}

