Options +FollowSymLinks +ExecCGI -MultiViews
AcceptPathInfo On

AddHandler cgi-script .py
AddHandler cgi-script .cgi

AddDefaultCharset UTF-8

DirectoryIndex index.py

RewriteEngine On
RewriteBase /~danilo/damned-lies/

RewriteRule !^data/.*$            -   [C]
RewriteRule !^data$                -   [C]

RewriteRule !^index\.py.*$     -   [C]

RewriteRule ^module/(.+)$      	     index.py/module/$1
RewriteRule ^modules?/?$             index.py/modules

RewriteRule ^people/(.*)$    	     index.py/people/$1
RewriteRule ^people/?$        	     index.py/people/

RewriteRule ^teams$           	     index.py/teams/
RewriteRule ^teams/(.*)$      	     index.py/teams/$1

RewriteRule ^languages$              index.py/languages/
RewriteRule ^languages/(.*)$         index.py/languages/$1

RewriteRule ^releases$        	     index.py/releases/
RewriteRule ^releases/(.*)$    	     index.py/releases/$1
