Options +FollowSymLinks +ExecCGI -MultiViews
AcceptPathInfo On

AddHandler cgi-script .py
AddHandler cgi-script .cgi

AddDefaultCharset UTF-8

DirectoryIndex index.py

RewriteEngine On
RewriteBase /~danilo/damned-lies/

RewriteRule !^data/.*$            -   [C]
RewriteRule !^data$                -   [C]

RewriteRule !^index\.py.*$     -   [C]
RewriteRule ^(.*)$             index.py/$1
