{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans release.description %} - {% trans language.name %}{% endblock %}

{% block content %}
<div class="mainpage">

<h2>{% trans release.description %} - <a href="{{ language.get_team_url }}">{{ language.get_name }}</a></h2>

<p id="hide">
   <a href="#" onclick="return showHideCompleted();">{% trans "Hide completed modules" %}</a>
</p>

<p id="show" style="display:none">
   <a href="#" onclick="return showHideCompleted();">{% trans "Show completed modules" %}</a>
</p>

{% ifequal release.status "xternal" %}
<p><i>{% trans "The modules of this release are not part of the GNOME SVN repository. Please check each module's web page to see where to send translations." %}</i></p>
{% endifequal %}

<h3>{{ stats_title }}</h3>
{% with stats as modstats %}
  {% include "languages/language_release_stats.html" %}
{% endwith %}

</div>
{% endblock %}
