{% load i18n stats_extras %}
{% comment %}
Following variables should be set:
   lang : current language
   stats : release stat list, obtained with get_release_stats
   show_all_modules_line : boolean
{% endcomment %}
<table class="stats">
  <thead><tr>
    <th>{% trans "Release" %}</th>
    <th>{% trans "User Interface" %}</th>
    <th>{% trans "Graph" %}</th>
    <th>{% trans "User Interface (red.)" %}
        <a href="{% url help 'reduced_po' %}"><img src="{{ MEDIA_URL }}img/help.png" alt="help icon"></a>
    </th>
    <th>{% trans "Documentation" %}</th>
    <th>{% trans "Graph" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for stat in stats %}
    <tr>
      <td class="leftcell">
        {{ stat.description }}
      </td>

    <td class="stats_numb"><a href="{% url language_release lang.locale,stat.name,"ui" %}">
        {{ stat.ui|num_stats }}</a>
    </td>
    <td style="width: 108px; text-align: center;">
        <div class="graph">{{ stat.ui|vis_stats }}</div>
    </td>
    <td class="stats_numb"><a href="{% url language_release lang.locale,stat.name,"ui-part" %}">
        {{ stat.ui_part|num_stats }}</a>
    </td>

    {% if stat.doc.total %}
      <td class="stats_numb"><a href="{% url language_release lang.locale,stat.name,"doc" %}">
          {{ stat.doc|num_stats }}</a>
      </td>
      <td style="width: 108px; text-align: center;">
          <div class="graph">{{ stat.doc|vis_stats }}</div>
      </td>
    {% else %}
      <td>-</td><td></td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  {% if show_all_modules_line %}
  <tr><td></td><td class="stats_numb"><a href="{% url language_all lang.locale,"ui" %}">{% trans "All modules" %}</a></td>
      <td></td><td class="stats_numb"><a href="{% url language_all lang.locale,"ui-part" %}">{% trans "All modules" %}</a></td>
      <td class="stats_numb"><a href="{% url language_all lang.locale,"doc" %}">{% trans "All modules" %}</a></td><td></td></tr>
  {% endif %}
  </tfoot>
</table>
