{# parent template has to define variable modstats #}

{% load i18n %}

<table name="stats-table">
<tr style="background: inherit;">
  <td class="leftcell" style="font-size: 120%; background: inherit;" colspan="2">{{ modstats.totaltransperc }}% ({{ modstats.totaltrans }}/{{ modstats.totalfuzzy }}/{{ modstats.totaluntrans }})</td>
  <td style="width: 108px; text-align: center; background:inherit;"><div class="graph">
      <div class="translated" style="width: {{ modstats.totaltransperc }}px;"></div>
      <div class="fuzzy" style="left:{{ modstats.totaltransperc }}px; width:{{ modstats.totalfuzzyperc }}px;"></div>
      {% with modstats.totaltransperc|add:modstats.totalfuzzyperc as upos %}
      <div class="untranslated" style="left:{{ upos }}px; width: {{ modstats.totaluntransperc }}px;"></div>
      {% endwith %}
     </div>
   </td>
</tr>

{% for catname,categ in modstats.categs.items %}
  {% ifnotequal catname "default" %}
    <tr><td colspan="3" class="leftcell" style="background: inherit; font-size: 120%; font-weight: bold; padding-top:1em;">
     {% with categ.cattransperc as percentage %}
     {% with categ.catname as categname %}
     {% blocktrans %}{{ categname }} ({{ percentage }}% translated){% endblocktrans %}
     {% endwith %}
     {% endwith %}
    </td></tr>
  {% endifnotequal %}
  
  {% for module in categ.modules %}
    {% with module.0 as modname %}
    {% for dom in module.1 %}
      {% with dom.0 as domname %}
      {% if dom.1 %}
        {% ifequal dom.1.tr_percentage 100 %}
          <tr id="{{ modname }}-{{ domname }}-complete">
        {% else %}
          <tr>
        {% endifequal %}
          {% if dom.1.partial_po %}
            {# This is a partial po, indented, with the domain description #}
            <td class="leftcell" style="padding-left:2em; padding-right:2em;">
            <a href="{{ dom.1.po_url }}"><img src="/media/img/download.png" alt="{% trans "Download po file" %}"></a>
            {{ dom.1.domain.description }}
            </td>
          {% else %}
            <td class="leftcell">
            {% if not dom.1.is_fake %}
              <a href="{{ dom.1.po_url }}"><img src="/media/img/download.png" alt="{% trans "Download po file" %}"></a>
              <a href="{% url stats.views.module modname %}">
            {% else %}
              <a href="{% url stats.views.module modname %}" style="font-style: italic;">
            {% endif %}
            {{ dom.1.module_description }}</a>
            {% for err in dom.1.information_set.all %}
              <img src="{{ err.get_icon }}" title="{{ err.get_description }}" alt="{{ err.type }}" />
            {% endfor %}
            </td>
          {% endif %}
          <td>{{ dom.1.tr_percentage }}%&nbsp;({{ dom.1.translated }}/{{ dom.1.fuzzy }}/{{ dom.1.untranslated }})</td>
          <td style="width: 108px; text-align: center; background:inherit;"><div class="graph">
              <div class="translated" style="width: {{ dom.1.tr_percentage }}px;"></div>
              <div class="fuzzy" style="left:{{ dom.1.tr_percentage }}px; width:{{ dom.1.fu_percentage }}px;"></div>
              {% with dom.1.tr_percentage|add:dom.1.fu_percentage as upos %}
              <div class="untranslated" style="left:{{ upos }}px; width:{{ dom.1.un_percentage }}px;"></div>
              {% endwith %}
             </div>
           </td>
        </tr>
      {% endif %}
      {% endwith %}
    {% endfor %}
    {% endwith %}
  {% endfor %}
{% endfor %}
</table>

{% if modstats.all_errors %}
  <h3>{% trans "Error summary" %}</h3>
  <ul>
  {% for err in modstats.all_errors %}
    <li><img src="{{ err.get_icon }}" alt="{{ err.type }}" /> {{ err.statistics.module_name }}:<br />
        <span class="error">{{ err.get_description }}</span></li>
  {% endfor %}
  </ul>
{% endif %}
<hr />
<p><a href="{% url languages.views.language_release_tar locale=language.locale release_name=release.name dtype=modstats.dtype %}"><img src="/media/img/download.png" /> {% trans "Download all po files" %}</a></p>

