{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "All modules" %} - {{ language.get_name }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#stats-table").tablesorter({sortList: [[0,0]]}); 
    }
);
</script>
{% endblock %}

{% block content %}
<div class="mainpage">

<h2>{% trans "All modules" %} - <a href="{{ language.get_team_url }}">{{ language.get_name }}</a></h2>

<p id="hide">
   <a href="#" onclick="return showHideCompleted();">{% trans "Hide completed modules" %}</a>
</p>

<p id="show" style="display:none">
   <a href="#" onclick="return showHideCompleted();">{% trans "Show completed modules" %}</a>
</p>

<h3>{{ stats_title }}</h3>
{% with stats as modstats %}
  {% include "languages/language_release_stats.html" %}
{% endwith %}

</div>
{% endblock %}
