{# parent template has to define variable modstats #}

{% load i18n stats_extras %}

<table>
<tr>
  <td class="leftcell" colspan="3">{{ modstats.totaltransperc }}% ({{ modstats.totaltrans }}/{{ modstats.totalfuzzy }}/{{ modstats.totaluntrans }})</td>
  <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width: {{ modstats.totaltransperc }}px;"></div>
      <div class="fuzzy" style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ modstats.totaltransperc }}px; width:{{ modstats.totalfuzzyperc }}px;"></div>
      {% with modstats.totaltransperc|add:modstats.totalfuzzyperc as upos %}
      <div class="untranslated" style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ upos }}px; width: {{ modstats.totaluntransperc }}px;"></div>
      {% endwith %}
     </div>
   </td>
</tr>
</table>

<table class="tablesorter" name="stats-table" id="stats-table">
<thead>
  <tr><th>{% trans "Module" %}</th><th>{% trans "Branch" %}</th>
      {# colspan=2 for Statistics is causing offset in sort effect for following columns #}
      <th>{% trans "Statistics" %}</th><th class="headerNoSort"></th>
      <th>{% trans "Status" %}</th><th>{% trans "Date" %}</th>
  </tr>
</thead>
<tbody>
 {# empty line to not disturb tablesorter if 1st line is a colspan #}
 <tr style="display:none;"><td>mod</td><td>br</td><td>100</td><td></td><td>state</td><td></td></tr>
{% for catname,categ in modstats.categs.items %}
  {% if catname != "default" %}
    <tr class="subheader"><td colspan="6" class="leftcell" style="font-weight: bold; padding-top:1em;">
     {% with categ.cattransperc as percentage and categ.catname as categname %}
     {% blocktrans %}{{ categname }} ({{ percentage }}% translated){% endblocktrans %}
     {% endwith %}
    </td></tr>
  {% endif %}

  {% for module in categ.modules %}
    {% with module.0 as modname %}
    {% for branch, doms in module.1.items %}
     {% for dom in doms %}
      {% with dom.0 as domname and dom.1 as stat %}
      {% if stat and not stat.is_fake %}
        {% if stat.tr_percentage == 100 %}
          <tr id="{{ modname }}-{{ stat.domain.id }}-complete">
        {% else %}
          <tr>
        {% endif %}
        <td class="leftcell">
          {% if language %}
          <a href="{% url vertimus_by_names modname,branch,stat.domain.name,language.locale %}">{{ stat.module_description }}
          {% else %}
          <a href="{% url stats.views.module modname %}">{{ stat.module_description }}
          {% endif %}
          {% if stat.partial_po %}
            {# For a partial po, domain description is appended #}
            &bull; {{ domname }}
          {% endif %}
          </a>
          {% for err in stat.info_list %}
            <img src="{{ err.get_icon }}" title="{{ err.get_description|striptags }}" alt="{{ err.type }}" />
          {% endfor %}
          {% if stat|domain_type == "mallard" %}
            <img src="{{ MEDIA_URL }}img/mallard.png" width="18" title="{% trans "This document is written in Mallard documentation format" %}" alt="mallard icon"/>
          {% endif %}
        </td>
          <td><span class="branch">{{ branch }}</span></td>
          <td><span style="display:none;">{{ stat.tr_percentage }}</span>{{ stat|num_stats:scope }}</td>
          <td style="width: 108px; text-align: center;">
             <div class="graph">{{ stat|vis_stats:scope }}</div>
          </td>
          <td>
           {% if stat.state.name %}
             {% if stat.state.name != "None" %}
             <em><small>{{ stat.state.description }}</small></em></td>
             <td><span style="display: none;">{{ stat.state.updated|date:"c" }}</span><em><small>{{ stat.state.updated|date:"DATE_FORMAT" }}
             {% else %}
               {% if stat.state.last_comment %}
                 <span class="comment">{{ stat.state.last_comment|truncatewords:12 }}</span>
               {% endif %}
               </td><td>
             {% endif %}
           {% else %} </td><td>
           {% endif %}
          </td>
        </tr>
      {% endif %}
      {% endwith %}
     {% endfor %}
    {% endfor %}
    {% endwith %}
  {% endfor %}
{% endfor %}
</tbody>
</table>

{% if modstats.all_errors %}
  <h3>{% trans "Error summary" %}</h3>
  <ul>
  {% for err in modstats.all_errors %}
    <li><img src="{{ err.get_icon }}" alt="{{ err.type }}" /> {{ err.statistics.module_name }}:<br />
        <span class="error">{{ err.get_description|safe }}</span></li>
  {% endfor %}
  </ul>
{% endif %}

