{# parent template has to define variable modstats #}

{% load i18n %}

<table name="stats-table">
<tr>
  <td class="leftcell" colspan="2">{{ modstats.totaltransperc }}% ({{ modstats.totaltrans }}/{{ modstats.totalfuzzy }}/{{ modstats.totaluntrans }})</td>
  <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width: {{ modstats.totaltransperc }}px;"></div>
      <div class="fuzzy" style="left:{{ modstats.totaltransperc }}px; width:{{ modstats.totalfuzzyperc }}px;"></div>
      {% with modstats.totaltransperc|add:modstats.totalfuzzyperc as upos %}
      <div class="untranslated" style="left:{{ upos }}px; width: {{ modstats.totaluntransperc }}px;"></div>
      {% endwith %}
     </div>
   </td>
</tr>

{% for catname,categ in modstats.categs.items %}
  {% ifnotequal catname "default" %}
    <tr><td colspan="3" class="leftcell" style="font-weight: bold; padding-top:1em;">
     {% with categ.cattransperc as percentage %}
     {% with categ.catname as categname %}
     {% blocktrans %}{{ categname }} ({{ percentage }}% translated){% endblocktrans %}
     {% endwith %}
     {% endwith %}
    </td></tr>
  {% endifnotequal %}
  
  {% for module in categ.modules %}
    {% with module.0 as modname %}
    {% for dom in module.1.domains %}
      {% with dom.0 as domname %}
      {% with dom.1 as stat %}
      {% if stat %}
        {% ifequal stat.tr_percentage 100 %}
          <tr id="{{ modname }}-{{ stat.domain.id }}-complete">
        {% else %}
          <tr>
        {% endifequal %}
          {% if stat.partial_po %}
            {# This is a partial po, indented, with the domain description #}
            <td class="leftcell" style="padding-left:2em; padding-right:2em;">
            <a href="{% url vertimus-names-view modname module.1.branch stat.domain.name language.locale %}">{{ domname }}</a>
          {% else %}
            <td class="leftcell">
            {% if not stat.is_fake %}
              <a href="{% url vertimus-names-view modname module.1.branch stat.domain.name language.locale %}">{{ stat.module_description }}</a>
            {% else %}
              <em>{{ stat.module_description }}</em>
            {% endif %}
          {% endif %}
          {% for err in stat.information_set.all %}
            <img src="{{ err.get_icon }}" title="{{ err.get_description|striptags }}" alt="{{ err.type }}" />
          {% endfor %}
          </td>
          <td>{{ stat.tr_percentage }}%&nbsp;({{ stat.translated }}/{{ stat.fuzzy }}/{{ stat.untranslated }})</td>
          <td style="width: 108px; text-align: center;"><div class="graph">
              <div class="translated" style="width: {{ stat.tr_percentage }}px;"></div>
              <div class="fuzzy" style="left:{{ stat.tr_percentage }}px; width:{{ stat.fu_percentage }}px;"></div>
              {% with stat.tr_percentage|add:stat.fu_percentage as upos %}
              <div class="untranslated" style="left:{{ upos }}px; width:{{ stat.un_percentage }}px;"></div>
              {% endwith %}
             </div>
           </td>
           <td>
           {% if stat.state.name %}
             {% ifnotequal stat.state.name "None" %}
             <em><small>{{ stat.state.get_state }} - {{ stat.state.updated|date:dateformat }}</small></em>
             {% endifnotequal %}
           {% endif %}
           </td>
        </tr>
      {% endif %}
      {% endwith %}
      {% endwith %}
    {% endfor %}
    {% endwith %}
  {% endfor %}
{% endfor %}
</table>

{% if modstats.all_errors %}
  <h3>{% trans "Error summary" %}</h3>
  <ul>
  {% for err in modstats.all_errors %}
    <li><img src="{{ err.get_icon }}" alt="{{ err.type }}" /> {{ err.statistics.module_name }}:<br />
        <span class="error">{{ err.get_description }}</span></li>
  {% endfor %}
  </ul>
{% endif %}
<hr />
<p><a href="{% url languages.views.language_release_tar locale=language.locale release_name=release.name dtype=modstats.dtype %}"><img src="/media/img/download.png" /> {% trans "Download all po files" %}</a></p>

