{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "GNOME Translation Teams" %}{% endblock %}

{% block content %}
<div class="mainpage">

<h1>{% trans "GNOME Translation Teams" %}</h1>

{% if teams %}
<p>{% trans "Select a team below to see more information about it:" %}</p>

    <ul class="foot">
    {% for team in teams %}
    <li style="font-size: 120%;">
      <a href="{{ team.get_absolute_url }}">{{ team.translated_name }}</a>
      {% if team.webpage_url %}
        &mdash; <a href="{{ team.webpage_url }}">{{ team.webpage_url }}</a>
      {% endif %}
      {% with team.get_coordinator as coordinator %}
      {% if coordinator %}
      <br />
      <span style="font-size: 80%;">
        {% blocktrans with coordinator.get_absolute_url|safe as url and coordinator.name as name %}Coordinated by <a href="{{ url }}">{{ name }}</a>{% endblocktrans %}
      </span>
      {% endif %}
      {% endwith %}
    </li>
    {% endfor %}
    </ul>

    <p class="comment">{% blocktrans %}If anything should be changed on this page, please <a href="{{ bug_url }}">submit a bug report</a>.{% endblocktrans %}</p>

{% else %}
<p>{% trans "There are currently no translation teams in GNOME. :(" %}</p>
{% endif %}

</div>
{% endblock %}
