{% extends "base.html" %}
{% load i18n %}
{% load stats_extras %}
{% load markup %}
{% block extrahead %}
<link rel="alternate" type="application/rss+xml"
      title="{% blocktrans with team.get_description as lang %}Last actions made by the {{ lang }} team of the GNOME Translation Project{% endblocktrans %}"
      href="/rss/teams/{{ team.name }}" />

<script type="text/javascript">
$(document).ready(function() {
        $(".archives").click(function(event) {
            event.preventDefault();
            arch_div = $("#div-rel-archives-"+this.id);
            is_visible = arch_div.is(':visible');
            if (is_visible) {
                arch_div.hide();
                $(this).children('img').attr("src", "{{ MEDIA_URL }}img/closed.png");
            } else {
                if (arch_div.attr("class") == "empty") {
                    // Load the archive stats dynamically
                    arch_div.load("/languages/"+this.id.replace('__','@')+"/rel-archives/");
                    arch_div.attr("class", "loaded");
                }
                arch_div.show();
                $(this).children('img').attr("src", "{{ MEDIA_URL }}img/open.png");
            }
        });
    }
);
</script>
{% endblock %}

{% block title %}{{ team.get_description }}{% endblock %}

{% block content %}
<div class="mainpage">

{% if not team.fake %}
  <h1>{% blocktrans with team.get_description as lang %}{{ lang }} Translation Team{% endblocktrans %}</h1>
  {% if team.presentation %}<p>{{ team.presentation|markdown }}</p>{% endif %}

  {% with team.get_languages.0 as language %}
  {% include "teams/team_base.html" %}
  {% endwith %}
{% else %}
  <h1>{{ team.get_description }}</h1>
  <p><em>{% blocktrans %}There is currently no established team for this language. See <a href="http://live.gnome.org/TranslationProject/StartingATeam">the GTP Wiki</a> to get more information about the process of building a new translation team.{% endblocktrans %}</em></p>
{% endif %}

{% for lang in team.get_languages %}
  <h2>{{ lang.get_name }} ({{ lang.locale }})</h2>
  {% with 1 as show_all_modules_line %}
  {% with lang.get_release_stats as stats %}
  {% include "languages/language_release_summary.html" %}
  {% endwith %}
  {% endwith %}
<p><strong>{% trans "Plural forms:" %}</strong> {{ lang.get_plurals }}</p>

<h3><a href="." class="archives" id="{{ lang.locale|escapeat }}"><img src="{{ MEDIA_URL }}img/closed.png" /></a>&nbsp;{% trans "Archives" %}</h3>
<div id="div-rel-archives-{{ lang.locale|escapeat }}" class="empty" style="display:none;"></div>

{% endfor %}

{% if not team.fake %}
<h2>{% trans "Team membership" %}</h2>
{% for group in mem_groups %}
    <h3>{{ group.title }}</h3>
    {% if group.form %}
        <form action="#" method="POST">
        <ul>
        {% for field in group.form.get_fields %}
          <li>{{ field.label|safe }} {{ field }}</li>
        {% endfor %}
        </ul>
        {{ group.form.form_type }}
        <input type="submit" value="{% trans "Apply modifications" %}">
        </form>
    {% else %}
      {% if not group.members %}
          <p><em>{{ group.no_member }}</em></p>
      {% else %}
        <ul>
        {% for member in group.members %}
          <li><a href="{{ member.get_absolute_url }}"
              {% if can_edit_team %}
                 title="{% blocktrans with member.last_login|date as last_login %}Last login on {{ last_login }}{% endblocktrans %}"
              {% endif %}>{{ member.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
{% endfor %}
{% endif %}

</div>
{% endblock %}
