{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ team.get_description }}{% endblock %}

{% block content %}
<div class="mainpage">

{% if not team.fake %}
  <h1>{% blocktrans with team.get_description as lang %}{{ lang }} Translation Team{% endblocktrans %}</h1>

  {% with team.get_languages.0 as language %}
  {% include "teams/team_base.html" %}
  {% endwith %}
{% else %}
  <h1>{{ team.get_description }}</h1>
{% endif %}

{% for lang in team.get_languages %}
  <h2>{{ lang.get_name }}</h2>
  <table class="stats">
  <thead><tr><th>{% trans "Release" %}</th><th>{% trans "Documentation" %}</th><th>{% trans "Graph" %}</th>
         <th>{% trans "User Interface" %}</th><th>{% trans "Graph" %}</th></tr></thead>
  {% for stat in lang.get_release_stats %}
    <tr>
      <td class="leftcell" style="font-size:120%;">
        {{ stat.description }}</a>
      </td>
  
    {% if stat.doctotal %}
      <td><a href="{% url language_release lang.locale,stat.name,"doc" %}">
          {{ stat.doctransperc }}% ({{ stat.doctrans }}/{{ stat.docfuzzy }}/{{ stat.docuntrans }})</a>
      </td>
      <td style="width: 108px; text-align: center;"><div class="graph">
        <div class="translated" style="width:{{ stat.doctransperc }}px;"></div>
        <div class="fuzzy" style="left:{{ stat.doctransperc }}px; width:{{ stat.docfuzzyperc }}px;"></div>
        {% with stat.doctransperc|add:stat.docfuzzyperc as upos %}
        <div class="untranslated" style="left:{{ upos }}px; width:{{ stat.docuntransperc }}px;"></div>
        {% endwith %}
        </div>
      </td>
    {% else %}
      <td>-</td><td></td>
    {% endif %}

    <td><a href="{% url language_release lang.locale,stat.name,"ui" %}">
        {{ stat.uitransperc }}% ({{ stat.uitrans }}/{{ stat.uifuzzy }}/{{ stat.uiuntrans }})</a>
    </td>
    <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width:{{ stat.uitransperc }}px;"></div>
      <div class="fuzzy" style="left:{{ stat.uitransperc }}px; width:{{ stat.uifuzzyperc }}px;"></div>
      {% with stat.uitransperc|add:stat.uifuzzyperc as upos %}
      <div class="untranslated" style="left:{{ upos }}px; width:{{ stat.uiuntransperc }}px;"></div>
      {% endwith %}
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endfor %}

{% if not team.fake %}
<h2>{% trans "Team membership" %}</h2>
{% for group in mem_groups %}
    <h3>{{ group.title }}</h3>
    {% if group.form %}
        <form action="#" method="POST">
        <ul>
        {% for field in group.form.get_fields %}
          <li>{{ field.label }} {{ field }}</li>
        {% endfor %}
        </ul>
        {{ group.form.form_type }}
        <input type="submit" value="Apply modifications">
        </form>
    {% else %}
      {% if not group.members %}
          <p><em>{{ group.no_member }}</em></p>
      {% else %}
        <ul>
        {% for member in group.members %}
          <li><a href="{{ member.get_absolute_url }}">{{ member.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
{% endfor %}
{% endif %}

</div>
{% endblock %}
