{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ team.get_description }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.growfield2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#id_presentation").growfield();
});
</script>
{% endblock %}

{% block content %}
<div class="mainpage">
<h1>{% blocktrans with team.get_description as lang %}{{ lang }} Translation Team{% endblocktrans %}</h1>

<form action="#" method="POST">
<table>
  <tr><th>{{ form.webpage_url.label }}:</th><td>{{ form.webpage_url }}</td></tr>
  <tr><th>{{ form.mailing_list.label }}:</th><td>{{ form.mailing_list }}</td></tr>
  <tr><th>{{ form.mailing_list_subscribe.label }}:</th><td>{{ form.mailing_list_subscribe }}</td></tr>
  <tr><th></th><td>{{ form.use_workflow }} <label for="id_use_workflow">{% trans "This team is using the Vertimus translation workflow" %}</label>
  <tr><th valign="top"><span class="help">&nbsp;</span><br />{{ form.presentation.label }}:</th>
      <td><span class="help">{% trans "This content may use <a href='http://en.wikipedia.org/wiki/Markdown'>Markdown</a> syntax" %}<br />
          {{ form.presentation }}</td></tr>
  <tr><td colspan="2" align="right"><input type="submit" value="{% trans 'Save' %}"/></td></tr>
</table>
</form>

</div>
{% endblock %}
