{% extends "people/person_base.html" %}
{% load i18n %}
{% load humanize %}
{% load stats_extras %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#working_on").tablesorter(); 
    }
);
</script>
{% endblock %}

{% block subcontent %}
{% if on_own_page %}
  <br clear="right" />
  <div id="language_menu">
    <form action="/i18n/setlang/" method="post">
      {% trans "Site Language:" %}
      <select name="language">
      {% for lang in LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
        <option value="{{ lang.0 }}" selected="selected">{% trans lang.1 %}</option>
        {% else %}
        <option value="{{ lang.0 }}" >{% trans lang.1 %}</option>
        {% endifequal %}
      {% endfor %}
      </select>
      <br/>
      <input type="submit" value="{% trans "Choose" %}" />
    </form>
  </div>
{% endif %}

{% if person.maintains_modules.all %}
<h2>{% trans "Maintains:" %}</h2>
<ul>
  {% for module in person.maintains_modules.all %}
  <li><a href="{{ module.get_absolute_url }}">{{ module.description }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% include "people/person_team_membership.html" %}

{% if states %}
<h2>{% trans "Working on" %}</h2>

<table class="tablesorter" id="working_on">
<thead><tr>
  <th class="header">{% trans "Date" %}</th><th>{% trans "Module" %}</th><th>{% trans "State" %}</th>
</tr></thead>
<tbody>
{% for state in states %}
<tr>
  <td><span style="display: none;">{{ state.updated }}</span>{{ state.updated|naturalday:dateformat }}</td>
  <td><a href="{{ state.get_absolute_url }}">{{ state.branch.module.get_description }} - {{ state.branch.name }} - {{ state.domain.get_description }} - {{ state.language.get_name }}</a></td>
  <td>{{ state.get_state }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
