{# Variables $person and $printroles must be defined prior to calling this template #}
{# This template is included in person.html, team.html and language-release.html #}

{% load i18n %}

<div class="person_detail">
  <div class="image">
  {% if person.image %}
  <img src="{{ person.image }}" alt="{{ person.name }}" />
  {% else %}
  <img src="{{ MEDIA_URL }}img/nobody.png" alt="" />
  {% endif %}
  </div>
  <div class="txt">
  <a class="name" href="{{ person.get_absolute_url }}">{{ person.name }}</a><br />

  {% if person.no_spam_email %}
  <a href="mailto:{{ person.no_spam_email }}">{{ person.no_spam_email }}</a><br />
  {% endif %}

  {% if person.webpage_url %}
  <a href="{{ person.webpage_url }}">{{ person.webpage_url }}</a><br />
  {% endif %}

  <br />
  {% if person.irc_nick %}
  <strong>{% trans "Instant messaging:" %}</strong>
  <ul>
    <li><em>{{ person.irc_nick }}</em> (IRC)</li>
  </ul>
  {% endif %}
  
  {% if person.no_spam_bugzilla_account %}
  <strong>{% trans "Bugzilla account:" %}</strong> {{ person.no_spam_bugzilla_account }}<br />
  {% endif %}

  {% if person.svn_account %}
  <strong>{% trans "Git account:" %}</strong> <a href="http://cia.vc/stats/author/{{ person.svn_account }}">{{ person.svn_account}}</a><br />
  {% endif %}
  </div>
</div>
