{% extends "base.html" %}
{% load i18n %}
{% load stats_extras %}

{% block title %}{% trans "GNOME Contributor" %}{% endblock %}

{% block content %}
<div class="mainpage">
  {% if on_own_page %}
  <div class="right_actions">
    <ul>
      <li><a href="{% url person_detail_change %}">{% trans "Change your details" %}</a></li>
      <li><a href="{% url person_password_change %}">{% trans "Change your password" %}</a></li>
      <li><a href="{% url person_team_join %}">{% trans "Join a team" %}</a></li>
    </ul>
  </div>
  {% endif %}

  {% include "people/person_overview.html" %}

  {% block subcontent %}
  {% endblock %}
</div>
{% endblock %}
