{% extends "people/person_base.html" %}
{% load i18n %}
{% load humanize %}
{% load stats_extras %}

{% block subcontent %}
<br clear="right" />
<div style="float:right; text-align:right;">
<form action="/i18n/setlang/" method="post">
{% trans "Site Language:" %} <select name="language">
{% for lang in LANGUAGES %}
  {% ifequal lang.0 LANGUAGE_CODE %}
  <option value="{{ lang.0 }}" selected="selected">{% trans  lang.1 %}</option>
  {% else %}
  <option value="{{ lang.0 }}" >{% trans lang.1 %}</option>
  {% endifequal %}
{% endfor %}
</select><br />
<input type="submit" value="{% trans "Choose" %}" />
</form></div>

{% if person.maintains_modules.all %}
<h2>{% trans "Maintains:" %}</h2>
<ul>
  {% for module in person.maintains_modules.all %}
  <li><a href="{{ module.get_absolute_url }} ">{{ module.description }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% include "people/person_team_membership.html" %}

{% if states %}
<h2>{% trans "Working on" %}</h2>

<table>
<tr>
  <th>{% trans "Date" %}</th><th>{% trans "Module" %}</th><th>{% trans "State" %}</th>
</tr>
{% for state in states %}
<tr>
  <td>{{ state.updated|naturalday:dateformat }}</td>
  <td><a href="{{ state.get_absolute_url }}">{{ state.branch.module.get_description }} - {{ state.branch.name }} - {% trans state.domain.description %} - {{ state.language.get_name }}</a></td>
  <td>{{ state.get_state }}</td>
</tr>
{% endfor %}
</table>

{% endif %}

{% endblock %}
