{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "GNOME Contributors" %}{% endblock %}

{% block content %}
<div class="mainpage">

<h2>{% trans "GNOME Contributors" %}</h2>

<p>{% trans "GNOME is being developed by following people:" %}</p>

<div style="column-count:3;-moz-column-count:3;-webkit-column-count:3">
{% for person in person_list %}
  <div class="maintainer">
  {% ifnotequal person.image '/media/img/nobody.png' %}
    <img class="people" src="{{ person.image }}" alt="{{ person.name }}" />
  {% else %}
    <img class="people" src="/media/img/nobody.png" alt="" />
  {% endifnotequal %}
  <a style="font-size: 120%;" href="{{ person.get_absolute_url }}">{{ person.name }}</a><br />
  {% if person.webpage_url %}
  <a href="{{ person.webpage_url }}">{{ person.webpage_url }}</a><br />
  {% endif %}
  </div>
{% endfor %}
</div>

</div>
{% endblock %}
