{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% blocktrans with module.get_description as name %}Module Translation: {{ name }}{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="mainpage">
{% with branch.releases.all as releases %}
<div class="release_link">
{% if releases %}
  <p><em>{% trans "Used in release(s):" %}</em><br />
  {% for release in releases %}
  <a href="{% url languages.views.language_release language.locale, release.name, domain.dtype %}">{% trans release.description %}</a><br />
  {% endfor %}
{% else %}
  <a href="{% url stats.views.module module.name %}">{{ module.get_description }}</a>
{% endif %}
</div>
{% endwith %}

<h1>{{ module.get_description }} - {{ branch.name }} - {% trans domain.description %} - {{ language.get_name }}</h1>

{% if module.comment %}
  <p>{{ module.comment|safe }}</p>
{% else %}
  {% ifnotequal module.vcs_root "http://svn.gnome.org/svn" %}
  <p><i><img src="{{ MEDIA_URL }}img/warn.png" alt="Warning logo" />{% trans "This module is not part of the GNOME SVN repository. Please check the module's web page to see where to send translations." %}</i></p>
  {% endifnotequal %}
{% endif %}

<h3>{% trans "State:" %} {{ state.description }}
{% ifnotequal state.name 'none' %}
({{ state.updated|date:"D d M Y P" }})
{% endifnotequal %}
</h3>

<em>{{ stats.pot_text }}</em>
 
<table>
  <tr>
    <td><a href="{{ stats.po_url }}"><img src="{{ MEDIA_URL }}img/download.png" alt="Download PO file" /></a> {% trans "Translated:" %}</td>
    <td>{{ stats.get_translationstat|safe }}</td>
    <td><div class="graph">
        <div class="translated" style="width: {{ stats.tr_percentage }}px;"></div>
        <div class="fuzzy" style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ stats.tr_percentage }}px; width:{{ stats.fu_percentage }}px;"></div>
        <div class="untranslated" style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ stats.tr_percentage|add:stats.fu_percentage }}px; width: {{ stats.un_percentage }}px;"></div>
      </div>
    </td>
  </tr>
</table>

{% if stats.information_set.all %}
<h4>{% trans "Notices" %}</h4>
<table>
  {% for info in stats.information_set.all %}
  <tr>
    <td valign="top"><img src="{{ info.get_icon }}" alt="{{ info.type }}" /></td>
    <td>{{ info.get_description|safe }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if stats.fig_count and stats.language %}
<p><a href="{% url stats.views.docimages module_name=module.name,potbase=stats.domain.name,branch_name=branch.name,langcode=stats.language.locale %}">
    <img src="{{ MEDIA_URL }}img/figure.png" alt="{% trans "Display document figures" %}"></a>
</p>
{% endif %}

{% if action_history %}
<h2>{% trans "Action History" %}</h2>
<div>
  {% for action in action_history %}
  <div class="vertimus_action">
    <div class="vertimus_action_head">
      <img src="{{ MEDIA_URL }}img/person.png" alt="Person"/> <a href="{{ action.person.get_absolute_url }}">{{ action.person.name }}</a>
      , <strong>{{ action }}</strong>, {{ action.created|date:"Y-m-d H:i" }}
    </div>
    <div class="vertimus_action_content">
      {% if action.file %}
      <div class="uploaded_file">
        <a href="{{ action.file.url }}"><img src="{{ MEDIA_URL }}img/download.png"/>&nbsp;{{ action.get_filename }}</a></div>
      {% endif %}
      <p>{% if action.comment %}
        {{ action.comment|linebreaksbr }}
        {% else %}
        <em>{% trans "No comment" %}</em>
        {% endif %}
      </p><br/>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<h2>{% trans "New Action" %}</h2>

{% if action_form %}
  <form enctype="multipart/form-data" action="{% url vertimus-stats-id-view stats.id language.id %}" method="POST">
    <table class="djform">
      {{ action_form.as_table }}
      <tr><td></td>
        <td><input type="submit" value="{% trans "Submit" %}"></td><tr>
    </table>
  </form>
{% else %}
  {% blocktrans with language.team.description as team_name %}You need to be authenticated and to be member of the {{ team_name }} team.{% endblocktrans %}
{% endif %}

{% endblock %}
