.stats th { 
    text-align: left; 
    background: gray; 
    color: white;
    padding-left: 2px;
    padding-right: 2px; }
.stats td { 
    background: #f0f0f0; 
    text-align: center;
    padding-left: 2px;
    padding-right: 2px; }
.stats td.left { 
    text-align: left; }
body {
    background: white; }

h1 {
    color: #404070;
}

h2 {
    width: 100%;
    margin-top: 2em;
    border-bottom: 1px solid gray;
}


div.graph {
  height: 14px;
  width: 100px;
  border: 0px solid black; 
  position: relative;
}

div.translated {
  position: absolute; 
  top: 0px;
  height:100%; 
  left: 0%; 
  background: #448844;
  background: url('/~danilo/damned-lies/data/green-bar.png');
  background-repeat: repeat-x;
}

div.goodchange {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #55DD55;
  background: url('/~danilo/damned-lies/data/cyan-bar.png');
  background-repeat: repeat-x;
}

div.fuzzy {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #4444AA;
  background: url('/~danilo/damned-lies/data/purple-bar.png');
  background-repeat: repeat-x;
}

div.untranslated {
  position: absolute; 
  height:100%; 
  top: 0px;
  background: #FF4444;
  background: url('/~danilo/damned-lies/data/red-bar.png');
  background-repeat: repeat-x;
}

a {
  text-decoration: none;
  color: #406080;
}

a:hover, a:visited {
  color: #6080a0;
  text-decoration: underline;
}


table {
  width: 100%;
}

img {
  border: 0px;
}

div.maintainer {
  height: 85px; 
  padding-left: 85px; 
  background-image: url('/~danilo/damned-lies/data/nobody.png');
  background-repeat: no-repeat;
  background-position: -85px left; 
}
