{% load i18n %}

{% if branch.has_string_frozen %}
  <p>{% trans "This branch is currently string-frozen." %}</p>
{% endif %}

<div class="columns">
    <div class="bloc half first">
        {% with branch.get_ui_stats as stats %}
            {% if stats|length %}
                {% if not stats|length_is:"1" %}
                    <h3>{% trans "Translation" %}</h3>
                {% endif %}
                {% include "stats_show.html" %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="bloc half">
        {% with branch.get_doc_stats as stats %}
            {% if stats|length %}
                {% if not stats|length_is:"1" %}
                    <h3>{% trans "Documentation" %}</h3>
                {% endif %}
                {% include "stats_show.html" %}
            {% endif %}
        {% endwith %}
    </div>
</div>
