</div> <!-- end of div#content -->

  <div id="footer">
    Copyright &copy; 2006, 2007 <a href="http://www.gnome.org/">$_("The GNOME Project")</a>.
    <br /> 
$_("Maintained in the <a href=\"http://svn.gnome.org/viewvc/damned-lies/\">damned-lies</a> module on <a href=\"http://svn.gnome.org/\">svn.gnome.org</a>")
 <br />
    $_("Hosted by") <a href="http://www.canonical.com/">Canonical</a>.
  </div>

</div> <!-- end of div.body -->
</body>
</html>
