#import defaults
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${defaults.language}" lang="${defaults.language}">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
#try
  #assert $pageTitle != False 
#except
  #set pageTitle=$_("Damned Lies about GNOME")
#end try
  <title>$pageTitle</title>
  <link rel="icon" type="image/png" href="${defaults.webroot}/data/foot-16.png"/>
  <link rel="stylesheet" href="${defaults.webroot}/data/main.css"/>
  <link rel="stylesheet" href="${defaults.webroot}/data/layout.css"/>
  <link rel="stylesheet" href="${defaults.webroot}/data/style.css"/>
#if $rtl
  <link rel="stylesheet" href="${defaults.webroot}/data/rtl.css"/>
#end if
  <script src="${defaults.webroot}/data/main.js"></script>

</head>
#if $rtl
<body dir="rtl">
#else
<body>
#end if

<!-- Site header -->
  <div id="page">
    <ul id="general">
      <li id="siteaction-gnome_home" class="home">
        <a href="http://www.gnome.org/">$_("Home")</a>
      </li>
      <li id="siteaction-gnome_news">
        <a href="http://news.gnome.org">$_("News")</a>
      </li>
      <li id="siteaction-gnome_projects">
        <a href="http://www.gnome.org/projects/">$_("Projects")</a>
      </li>
      <li id="siteaction-gnome_art">
        <a href="http://art.gnome.org">$_("Art")</a>
      </li>
      <li id="siteaction-gnome_support">
        <a href="http://www.gnome.org/support/">$_("Support")</a>
      </li>
      <li id="siteaction-gnome_development">
        <a href="http://developer.gnome.org">$_("Development")</a>
      </li>
      <li id="siteaction-gnome_community">
        <a href="http://www.gnome.org/community/">$_("Community")</a>
      </li>
    </ul>
    <div id="header">
      <h1>$_("Damned Lies")</h1>
      <div id="tabs">
        <ul id="portal-globalnav">
          <li
#if $pageSection == 'home'
	  class="selected"
#end if
            ><a href="${defaults.webroot}/" title="$_("Back to Damned Lies home page")"><span>$_("Home")</span></a>
          </li>
	  <li
#if $pageSection == 'teams'
	  class="selected"
#end if
	   ><a href="${defaults.webroot}/teams/"><span>$_("Teams")</span></a></li>
	  <li
#if $pageSection == 'languages'
	  class="selected"
#end if
	   ><a href="${defaults.webroot}/languages/"><span>$_("Languages")</span></a></li>
	  <li
#if $pageSection == 'releases'
	  class="selected"
#end if
	   ><a href="${defaults.webroot}/releases/"><span>$_("Release sets")</span></a></li>
	  <li
#if $pageSection == 'module'
	  class="selected"
#end if
	   ><a href="${defaults.webroot}/module/"><span>$_("Modules")</span></a></li>
        </ul>
      </div> <!-- end of #tabs -->
    </div> <!-- end of #header -->
  </div>
<!-- end site header -->

  <div class="body">
    <div id="content">

