#import defaults
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${defaults.language}" lang="${defaults.language}">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
#try
  #assert $pageTitle != False 
#except
  #set pageTitle=$_("Damned Lies about GNOME")
#end try
  <title>$pageTitle</title>
  <link rel="icon" type="image/png" href="${defaults.webroot}/data/foot-16.png"/>
  <link rel="stylesheet" href="${defaults.webroot}/data/main.css"/>
#if $rtl
  <link rel="stylesheet" href="${defaults.webroot}/data/rtl.css"/>
#end if
</head>
#if $rtl
<body dir="rtl">
#else
<body>
#end if

<div id="hdr">
  <a href="${defaults.webroot}/"><img id="logo"
src="${defaults.webroot}/data/gnome-64.png" alt="$_("Home")"
title="$_("Back to Damned Lies home page")" /></a>

  <div id="hdrNavTop">$_("Damned Lies")</div>
  <div id="hdrNav">
    <a href="${defaults.webroot}/teams/">$_("Teams")</a> &middot; 
    <a href="${defaults.webroot}/languages/">$_("Languages")</a> &middot; 
    <a href="${defaults.webroot}/releases/">$_("Release sets")</a> &middot; 
    <a href="${defaults.webroot}/module/">$_("Modules")</a>
  </div>
</div>
