#from defaults import language
#set global pageTitle=$_("Damned Lies about GNOME")
#include "templates/header.tmpl"

<div class="mainpage">

<h1>$_("Damned Lies about GNOME")</h1>

<table><tr><td width="50%" valign="top">

<h2><a href="teams/">$_("Teams")</a></h2>
<p>$_("List of all GNOME Translation Teams, with full information such as primary contact (coordinator), web pages and mailing list information.")
  $_("If there is no team for your language, you can easily <a href=\"http://live.gnome.org/TranslationProject/StartingATeam/\">start your own team</a>.")
</p>

</td><td valign="top">

<h2><a href="languages/">$_("Languages")</a></h2>
<p>$_("List of all languages there are <a href=\"teams/\">Translation Teams</a> for.")
  $_("Some teams manage more than one language (usually just simple variants), and here you can see all the languages GNOME is being translated to.")</p>

</td></tr><tr><td valign="top">

<h2><a href="releases/">$_("Release Sets")</a></h2>
<p>$_("List of all GNOME release sets and releases we gather stats for.")</p>

<p>$_("Examples of release sets are \"GNOME Office\", \"Fifth Toe\" or \"GNOME 2.14\".")
  $_("Official GNOME release sets are further divided into categories such as \"Desktop Applications\" and \"Developer Platform\".")</p>

<p>$_("Look here if you want to compare language support in any of these release sets.")</p>
</td><td valign="top">

<h2><a href="module/">$_("Modules")</a></h2>
<p>$_("List of all modules with statistics in here.")</p>

<p>$_("Modules are separate libraries or applications, with one or more branches of development included.")
  $_("They are usually taken from CVS, and we keep all relevant information on them (Bugzilla details, web page, maintainer information,...).")</p>

</td></tr></table>

<p class="footnote">
## Comment on translators
#* Second type of comment *#
#if $language != 'en' and $_("translator-credits") != 'translator-credits'
  $_("Translated by:") $_("translator-credits").replace("\n", ", ").replace("<", "&lt;").replace(">", "&gt;")
#end if
</p>

</div>
#include "templates/footer.tmpl"
