{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Damned Lies about GNOME" %} {% endblock %}

{% block content %}
<div class="mainpage">

<h1>{% trans "Damned Lies about GNOME" %}</h1>

<table><tr><td width="50%" valign="top">

<h2><a href="{% url teams %}">{% trans "Teams" %}</a></h2>
<p>{% trans "List of all GNOME Translation Teams, with full information such as primary contact (coordinator), web pages and mailing list information." %}
  {% trans "If there is no team for your language, you can easily <a href='http://live.gnome.org/TranslationProject/StartingATeam/'>start your own team</a>." %}
</p>

</td><td valign="top">

<h2><a href="{% url languages %}">{% trans "Languages" %}</a></h2>
{% url teams as teams_url %}
<p>{% blocktrans %}List of all languages there are <a href='{{ teams_url }}'>Translation Teams</a> for.{% endblocktrans %}
  {% trans "Some teams manage more than one language (usually just simple variants), and here you can see all the languages GNOME is being translated to." %}</p>

</td></tr><tr><td valign="top">

<h2><a href="{% url releases %}">{% trans "Release Sets" %}</a></h2>
<p>{% trans "List of all GNOME release sets and releases we gather stats for." %}</p>

<p>{% trans "Examples of release sets are &quot;GNOME Office&quot;, &quot;Fifth Toe&quot; or &quot;GNOME 2.14&quot;." %}
  {% trans "Official GNOME release sets are further divided into categories such as &quot;Desktop Applications&quot; and &quot;Developer Platform&quot;." %}</p>

<p>{% trans "Look here if you want to compare language support in any of these release sets." %}</p>
</td><td valign="top">

<h2><a href="{% url modules %}">{% trans "Modules" %}</a></h2>
<p>{% trans "List of all modules with statistics in here." %}</p>

<p>{% trans "Modules are separate libraries or applications, with one or more branches of development included." %}
  {% trans "They are usually taken from CVS, and we keep all relevant information on them (Bugzilla details, web page, maintainer information,...)." %}</p>

</td></tr></table>

{% if translator_credits %}
<p class="footnote">
  {% trans "Translated by:" %} {{ translator_credits|join:", " }}
</p>
{% endif %}

</div>
{% endblock %}
