#from l10n import MyFilter
#filter $MyFilter

<table id="documentation">
<tr style="background: inherit;">
  <td class="leftcell" style="font-size: 120%; background: inherit;" colspan="2">${release.doc_supportedness}% ($release.doc_translated/$release.doc_fuzzy/$release.doc_untranslated)</td>
  <td style="width: 108px; text-align: center; background:inherit;"><div class="graph">
      <div class="translated" style="width: ${release.doc_percentages.translated}px;"></div>
      <div class="fuzzy" style="left:${release.doc_percentages.translated}px; width:${release.doc_percentages.fuzzy}px;"></div>
      #set upos=$release.doc_percentages.translated + $release.doc_percentages.fuzzy
      <div class="untranslated" style="left:${upos}px; width: ${release.doc_percentages.untranslated}px;"></div>
     </div>
   </td>
</tr>
#if $release.has_key('modules')
    #set global modules=$release.modules
    #set global release=$release
    #include "templates/language-release-doc-stats-modules.tmpl"
#end if

#if $release.has_key('categories')
#for category in $release.categories
#if $category.statistics.doc_size != 0
<tr>
  <td colspan="3" class="leftcell" style="background: inherit; font-size: 120%; font-weight: bold; padding-top:1em;">
    ${_("%(cat)s (%(percent)s%% translated)"), cat=$category.description, percent=$category.statistics.doc_supportedness}</td></tr>

    #set global modules=$category.modules
    #set global release=$release
    #include "templates/language-release-doc-stats-modules.tmpl"

<!-- doc_size != 0 -->
#end if
#end for  
#end if
</table>

#end filter
