   #set $moduleids=$modules.keys()
   #silent $moduleids.sort()
   #for moduleid in $moduleids
   #set $module=$modules[$moduleid]
   #if $module.has_key('statistics') and $module.statistics.doc_size != 0

    #if len($module.documents.keys()) > 1
    <tr>
      <td class="leftcell"><a href="${webroot}/module/${moduleid}" style="font-style: italic;">${module.description}</a></td>
      <td>${module.statistics.doc_supportedness}%&nbsp;<!--
	-->($module.statistics.doc_translated/$module.statistics.doc_fuzzy/$module.statistics.doc_untranslated)</td>
      <td style="width: 108px; text-align: center; background:inherit;"><div class="graph">
          <div class="translated" style="width: ${module.statistics.doc_percentages.translated}px;"></div>
          <div class="fuzzy" style="left:${module.statistics.doc_percentages.translated}px; width:${module.statistics.doc_percentages.fuzzy}px;"></div>
          #set upos=$module.statistics.doc_percentages.translated + $module.statistics.doc_percentages.fuzzy
          <div class="untranslated" style="left:${upos}px; width: ${module.statistics.doc_percentages.untranslated}px;"></div>
         </div>
       </td>
    </tr>
    #end if

    #for docdir, document in $module.documents.items()
    #if $document.pot_size
     #if $document.pot_size==$document.untranslated
       #set POFILE=$webroot+"/POT/"+$moduleid+"."+$module.branch+"/docs/"+$document.potbase+"."+$module.branch+".pot"
     #else
       #set POFILE=$webroot+"/POT/"+$moduleid+"."+$module.branch+"/docs/"+$document.potbase+"."+$module.branch+"."+$language+".po"
     #end if
     #set POINFO=$document.po_messages+$document.pot_messages


     <tr>
       #if len($module.documents.keys()) > 1
        <td class="leftcell" style="padding-left:2em; padding-right:2em;">
         <a href="$POFILE" title="module: '$module.scmmodule/$docdir', branch: '$module.branch'"><img src="${webroot}/data/download.png" alt="$_("Download po file")"/></a>${document.description}
         #for pomsgs in $POINFO
           <img src="${webroot}/data/${pomsgs[0]}.png" title="${pomsgs[1]}" />
         #end for
        </td>
       #else
        <td class="leftcell">
         <a href="$POFILE" title="module: '$module.scmmodule/$docdir', branch: '$module.branch'"><img src="${webroot}/data/download.png" alt="$_("Download po file")"/></a> <a href="${webroot}/module/${moduleid}" title="branch: '$module.branch'">${module.description}</a>
         #for pomsgs in $POINFO
           <img src="${webroot}/data/${pomsgs[0]}.png" title="${pomsgs[1]}" />
         #end for
        </td>
       #end if

      #if len($module.documents.keys()) > 1
       <td>${document.supportedness}% ($document.translated/$document.fuzzy/$document.untranslated)</td>
      #else
      <td>${document.supportedness}%&nbsp;<!--
	-->($module.statistics.doc_translated/$module.statistics.doc_fuzzy/$module.statistics.doc_untranslated)</td>
      #end if
       <td style="width: 108px; text-align: center; background:inherit;"><div class="graph">
           <div class="translated" style="width: ${document.percentages.translated}px;"></div>
           <div class="fuzzy" style="left:${document.percentages.translated}px; width:${document.percentages.fuzzy}px;"></div>
           #set upos=$document.percentages.translated + $document.percentages.fuzzy
           <div class="untranslated" style="left:${upos}px; width: ${document.percentages.untranslated}px;"></div>
          </div>
        </td>
     </tr>
    #end if
    #end for
   #end if
 
   #end for
