<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>${_("%(language)s Translations for %(release)s"), language=$language_name,release=$release.description,CAPITALIZE=1}</title>
  <link rel="stylesheet" href="${webroot}/data/main.css"/>
#if $rtl
  <link rel="stylesheet" href="${webroot}/data/rtl.css"/>
#end if
 
</head>
#if $rtl
<body dir="rtl">
#else
<body>
#end if

<center>
<div class="mainpage">

<h1>${_("%(lang)s Translation Team"), lang=$team.description} — ${language_name}</h1>

<table><tr><td valign="top" width="50%">
  <h2>$_("Details")</h2>

  #if $team.webpage and $team.has_key('description')
  <strong>${_("%(lang)s Translation Team Page:"), lang=$team.description}</strong> <a href="$team.webpage">$team.webpage</a><br />
  #end if

  #if $team.userpage
  <strong>$_("Users Web Page:")</strong> <a href="$team.userpage">$team.userpage</a><br />
  #end if

  #if $team.bugzilla and $team.has_key('bugzilla-component')
  <br/><strong>$_("Bugzilla:")</strong>
  <ul>
    <li><a href="${team.bugzilla}enter_bug.cgi?product=$team['bugzilla-product']&amp;component=$team['bugzilla-component']">$_("Report Bug in Translation")</a></li>
    <li><a href="${team.bugzilla}buglist.cgi?product=$team['bugzilla-product']&amp;component=$team['bugzilla-component']">$_("Show Existing Bugs")</a></li>
  </ul>
  #end if

  #if $team.has_key('mailing-list')
  <br/><strong>$_("Mailing List:")</strong>
  <ul>
    <li><a href="mailto:${team['mailing-list']}">$_("Send e-mail to the list")</a></li>
    #if $team.has_key('mailing-list-subscribe')
    <li><a href="${team['mailing-list-subscribe']}">$_("Subscribe")</a></li>
    #end if
  </ul>
  #end if



</td><td valign="top">
#if $team.has_key('coordinator')
  <h2>$_("Coordinator")</h2>
  #if $team.coordinator.icon
  <div class="maintainer" style="background-image:url('$team.coordinator.icon');">
  #else
  <div class="maintainer">
  #end if
  <a style="font-size: 140%;" href="${webroot}/people/$team.coordinator.id">$team.coordinator.name</a><br />
  #if $team.coordinator.webpage
  <a href="$team.coordinator.webpage">$team.coordinator.webpage</a><br />
  #end if

  <br />
  #if len($team.coordinator.im) or $team.coordinator.nick
  <strong>$_("Instant messaging:")</strong>
  <ul>
  #if $team.coordinator.nick
    <li><em>$team.coordinator.nick</em> (IRC)</li>
  #end if
  #if len($team.coordinator.im)
   #for type, account in $team.coordinator.im.items()
    <li><em>$account.content</em> ($type)</li>
   #end for
  #end if
  </ul>
  #end if

  #if $team.coordinator.has_key('bugzilla-account')
  <strong>$_("Bugzilla account:")</strong> $team.coordinator['bugzilla-account']<br />
  #end if
  #if $team.coordinator.has_key('cvs-account')
  <strong>$_("SVN account:")</strong> <a href="http://cvs.gnome.org/bonsai/cvsquery.cgi?treeid=default&amp;module=all&amp;branch=HEAD&amp;branchtype=match&amp;dir=&amp;file=&amp;filetype=match&amp;who=${team.coordinator['cvs-account']}&amp;whotype=match&amp;sortby=Date&amp;hours=2&amp;date=week&amp;mindate=&amp;maxdate=&amp;cvsroot=%2Fcvs%2Fgnome">$team.coordinator['cvs-account']</a><br />
  #end if

  </div>
#end if
</td></tr></table>

<h2>$release.description</h2>
#if $release.status=="external"
<p><i>$_("The modules of this release are not part of the GNOME SVN repository. Please check each module's web page to see where to send translations.")</i></p>
#end if

<table><tr><td valign="top" width="50%"><!-- two columns set-up -->
<h3>$_("Documentation")</h3>
#set global release=$release
#include "templates/language-release-doc-stats.tmpl"

</td><td valign="top"><!-- second column -->
<h3>$_("UI translations")</h3>

#set global release=$release
#include "templates/language-release-ui-stats.tmpl"

</td></tr></table><!-- end two column layout -->

</div>
</center>
</body>
</html>
