#from l10n import MyFilter
#filter $MyFilter

<table>
<tr style="background: inherit;">
  <td class="left" style="font-size: 120%; background: inherit;" colspan="2">${release.ui_supportedness}% ($release.ui_translated/$release.ui_fuzzy/$release.ui_untranslated)</td>
  <td style="width: 108px; text-align: center; background:inherit;"><div class="graph">
      <div class="translated" style="width: ${release.ui_percentages.translated}px;"></div>
      <div class="fuzzy" style="left:${release.ui_percentages.translated}px; width:${release.ui_percentages.fuzzy}px;"></div>
      #set upos=$release.ui_percentages.translated + $release.ui_percentages.fuzzy
      <div class="untranslated" style="left:${upos}px; width: ${release.ui_percentages.untranslated}px;"></div>
     </div>
   </td>
</tr>

#if $release.has_key('modules')
    #set global modules=$release.modules
    #set global release=$release
    #include "templates/language-release-ui-stats-modules.tmpl"
#end if

#if $release.has_key('categories')
#for category in $release.categories
#if $category.statistics.ui_size != 0
<tr>
  <td colspan="3" class="left" style="background: inherit; font-size: 120%; font-weight: bold; padding-top:1em;">
    ${_("%(cat)s (%(percent)s%% translated)"), cat=$category.description, percent=$category.statistics.doc_supportedness}</td></tr>

    #set global modules=$category.modules
    #set global release=$release
    #include "templates/language-release-ui-stats-modules.tmpl"
#end if
#end for  
#end if
</table>
#end filter