<html>
<head><title>${language_name} Translations for '${release.description}'</title>
  <link rel="stylesheet" href="${webroot}/data/main.css"/>
</head>
<body>

<center>
<div style="width:80%; text-align: left;">

<h1>${team.description} — ${language_name}</h1>

<table><tr><td valign="top" width="50%">
  <h2>Details</h2>

  #if $team.webpage
  <strong>${team.description} Page:</strong> <a href="$team.webpage">$team.webpage</a><br />
  #end if
  
  #if $team.userpage
  <strong>Users Web Page:</strong> <a href="$team.userpage">$team.userpage</a><br />
  #end if

  #if $team.bugzilla
  <br/><strong>Bugzilla:</strong>
  <ul>
    <li><a href="${team.bugzilla}enter_bug.cgi?product=$team['bugzilla-product']&component=$team['bugzilla-component']">Report Bug in Translation</a></li>
    <li><a href="${team.bugzilla}buglist.cgi?product=$team['bugzilla-product']&component=$team['bugzilla-component']">Show Existing Bugs</a></li>
  </ul>
  #end if
  

  #if $team['mailing-list']
  <br/><strong>Mailing List:</strong>
  <ul>
    <li><a href="mailto:${team['mailing-list']}">Send e-mail to the list</a></li>
    <li><a href="${team['mailing-list-subscribe']}">Subscribe</a></li>
  </ul>
  #end if



</td><td valign="top">
#if $team.has_key('coordinator')
  <h2>Coordinator</h2>
  #if $team.coordinator.icon
  <div class="maintainer" style="background-image:url('$team.coordinator.icon);">
  #else
  <div class="maintainer">
  #end if
  <a style="font-size: 140%;" href="${webroot}/people/$team.coordinator.id">$team.coordinator.name</a><br />
  #if $team.coordinator.webpage
  <a href="$team.coordinator.webpage">$team.coordinator.webpage</a><br />
  #end if

  <br />
  #if len($team.coordinator.im) or $team.coordinator.nick
  <strong>Instant messaging:</strong>
  <ul>
  #if $team.coordinator.nick
    <li><em>$team.coordinator.nick</em> (IRC)</li>
  #end if
  #for type, account in $team.coordinator.im.items()
    <li><em>$account.content</em> ($type)</li>
  #end for
  </ul>
  #end if

  #if $team.coordinator.has_key('bugzilla-account')
  <strong>Bugzilla account:</strong> $team.coordinator['bugzilla-account']<br />
  #end if
  #if $team.coordinator.has_key('cvs-account')
  <strong>CVS account:</strong> <a href="http://cvs.gnome.org/bonsai/cvsquery.cgi?treeid=default&module=all&branch=HEAD&branchtype=match&dir=&file=&filetype=match&who=${team.coordinator['cvs-account']}&whotype=match&sortby=Date&hours=2&date=week&mindate=&maxdate=&cvsroot=%2Fcvs%2Fgnome">$team.coordinator['cvs-account']</a><br />
  #end if

  </div>
#end if
</td></tr></table>

<h2>$release.description</h2>

<table><tr><td valign="top" width="50%"><!-- two columns set-up -->
<h3>Documentation</h3>
#set global release=$release
#include "templates/language-release-doc-stats.tmpl"

</td><td valign="top"><!-- second column -->
<h3>UI translation</h3>

#set global release=$release
#include "templates/language-release-ui-stats.tmpl"

</td></tr></table><!-- end two column layout -->

</div>
</center>
</body>
</html>
