<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>$_("Gnome Languages")</title>
  <link rel="stylesheet" href="${webroot}/data/main.css"/>
#if $rtl
  <link rel="stylesheet" href="${webroot}/data/rtl.css"/>
#end if
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
#if $rtl
<body dir="rtl">
#else
<body>
#end if

<div class="mainpage">

<h1>$_("Gnome Languages")</h1>

#if len($languages)
<p>$_("Gnome is being translated to following languages:")</p>

<ul>
#for lang in $languages
<li style="font-size: 120%;">
  #if $lang.name
  <a href="${webroot}/languages/${lang.code}">${lang.name}</a>
  #else
  <a href="${webroot}/languages/${lang.code}">${lang.code}</a>
  #end if
</li>
#end for
</ul>
#else
<p>$_("Gnome is currently not being translated to any language. :(")</p>
#end if


</div>
</body>
</html>
