#set global pageTitle=$_("GNOME Translation Teams")
#set global pageSection="teams"
#include "templates/header.tmpl"

<div class="mainpage">

<h1>$_("GNOME Translation Teams")</h1>

#if len($teams)
<p>$_("Select a team below to see more information about it:")</p>

<ul class="foot">
#for team in $teams
<li style="font-size: 120%;">
  <a href="${webroot}/teams/${team.id}">${team.description}</a>
  #if $team.has_key('webpage') and $team.webpage
    &mdash; <a href="${team.webpage}">${team.webpage}</a>
  #end if
  #if $team.has_key('coordinator')
    <br /><span style="font-size: 80%;">${_("Coordinated by %(coordinator)s"), coordinator="<a href=\""+$webroot+"/people/"+$team.coordinator.id+"\">"+$team.coordinator.name+"</a>"}</span>
  #end if
</li>
#end for
</ul>
#else
<p>$_("There are currently no translation teams in GNOME. :(")</p>
#end if

</div>
#include "templates/footer.tmpl"
