<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>$_("GNOME Releases")</title>
  <link rel="stylesheet" href="${webroot}/data/main.css"/>
#if $rtl
  <link rel="stylesheet" href="${webroot}/data/rtl.css"/>
#end if

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
#if $rtl
<body dir="rtl">
#else
<body>
#end if

<div class="mainpage">

<h1>$_("GNOME Releases")</h1>

#if len($releases)
<p>$_("Select a release or a release set below to see more details about it:")</p>

<ul>
#for release in $officialReleases
<li style="font-size: 120%;">
  <a href="${webroot}/releases/${release.id}">${release.description}</a>
</li>
#end for
</ul>
<ul>
#for release in $otherReleases
<li style="font-size: 120%;">
  <a href="${webroot}/releases/${release.id}">${release.description}</a>
</li>
#end for
</ul>
#else
<p>$_("There are currently no releases defined in GNOME. :(")</p>
#end if


</div>
</center>
</body>
</html>
