<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>$_("GNOME Translation Teams")</title>
  <link rel="stylesheet" href="${webroot}/data/main.css"/>
#if $rtl
  <link rel="stylesheet" href="${webroot}/data/rtl.css"/>
#end if
 
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
#if $rtl
<body dir="rtl">
#else
<body>
#end if

<div class="mainpage">

<h1>$_("GNOME Translation Teams")</h1>

#if len($teams)
<p>$_("Select a team below to see more information about it:")</p>

<ul>
#for team in $teams
<li style="font-size: 120%;">
  <a href="${webroot}/teams/${team.id}">${team.firstlanguage}</a>
  #if $team.has_key('webpage') and $team.webpage
    — <a href="${team.webpage}">${team.webpage}</a>
  #end if
  #if $team.has_key('coordinator')
    <br /><span style="font-size: 80%;">${_("Coordinated by %(coordinator)s"), coordinator="<a href=\""+$webroot+"/people/"+$team.coordinator.id+"\">"+$team.coordinator.name+"</a>"}</span>
  #end if
</li>
#end for
</ul>
#else
<p>$_("There are currently no translation teams in GNOME. :(")</p>
#end if


</div>
</body>
</html>
