#set global pageTitle=$_("Damned Lies about GNOME modules")
#include "templates/header.tmpl"

<div class="mainpage">

<h1>$_("GNOME modules")</h1>

#if len($modules)
<p>$_("Select a module below to see some of the damned lies about it:")</p>

<ul>
#for modid in $modids
<li><a href="${webroot}/module/${modid}">$modules[$modid].description</a></li>
#end for
</ul>
#else
<p>$_("There are currently no modules for which I am gathering damned lies for. Poke <a href=\"danilo@gnome.org\">Danilo</a> about it!")</p>
#end if

</div>
#include "templates/footer.tmpl"
