#set global pageTitle=$_("GNOME Releases")
#set global pageSection="releases"
#include "templates/header.tmpl"

<div class="mainpage">

<h1>$_("GNOME Releases")</h1>

#if len($releases)
<p>$_("Select a release or a release set below to see more details about it:")</p>

<ul class="foot">
#for release in $officialReleases
<li style="font-size: 120%;">
  <a href="${webroot}/releases/${release.id}">${release.description}</a>
</li>
#end for
</ul>
<ul class="foot">
#for release in $otherReleases
<li style="font-size: 120%;">
  <a href="${webroot}/releases/${release.id}">${release.description}</a>
</li>
#end for
</ul>
#else
<p>$_("There are currently no releases defined in GNOME. :(")</p>
#end if

</div>
#include "templates/footer.tmpl"
