#set global pageTitle=$_("GNOME Languages")
#set global pageSection="languages"
#include "templates/header.tmpl"

<div class="mainpage">

<h1>$_("GNOME Languages")</h1>

#set languagecount=len($languages)
#if len($languages)
  <p>${ngettext("GNOME is being translated to following %(count)s language:", "GNOME is being translated to following %(count)s languages:", $languagecount),count=$languagecount}</p>

<div class="col1">
<ul>
#set count = 1
#set col = 1
#for lang in $languages
<li style="font-size: 120%;">
  #if $lang.name
  <a href="${webroot}/languages/${lang.code}">${lang.name}</a>
  #else
  <a href="${webroot}/languages/${lang.code}">${lang.code}</a>
  #end if
</li>
  #if $count % (len($languages)/3+1) == 0
    #set col = $col+1
    </ul></div>
    <div class="col${col}"><ul>
  #end if
  #set count += 1
#end for
</ul>
</div>
#else
<p>$_("GNOME is currently not being translated to any language. :(")</p>
#end if

</div>
#include "templates/footer.tmpl"
