#set global pageTitle=$_("Module Statistics")
#set global pageSection="module"
#include "templates/header.tmpl"

<div class="mainpage">

<h1>$module.description</h1>
#if $module.has_key('comment') and $module.comment
<p>$module.comment</p>
#else
  #if $module.scmroot.path!="http://svn.gnome.org/svn"
  <p><i><img src="${webroot}/data/warn.png" alt="Warning logo" /> $_("This module is not part of the GNOME SVN repository. Please check the module's web page to see where to send translations.")</i></p>
  #end if
#end if
#if $module.has_key('webpage') and $module.webpage
<p><a href="$module.webpage">$module.webpage</a></p>
#end if
<table><tr><td width="50%" valign="top">
#if $module.has_key('maintainer') and len($module.maintainer)
<h2>$_("Maintainers")</h2>
#for mid, maintainer in $module.maintainer.items()
  <div class="maintainer">
  #if not $maintainer.has_key('icon')
    #set $maintainer.icon = "${webroot}/data/nobody.png"
  #end if
  <img class="people" src="$maintainer.icon" alt="" />
  <a style="font-size: 140%;" href="${webroot}/people/$maintainer.id">$maintainer.name</a>
  #if $maintainer.has_key('webpage')
  <br /><a href="$maintainer.webpage">$maintainer.webpage</a>
  #end if
</div>
#end for
#end if
</td><td width="50%" valign="top">
#if $module.has_key('bugs-baseurl')
<h2>$_("Bug reporting")</h2>
<p><a href="$(module['bugs-baseurl'])enter_bug.cgi?product=$module['bugs-product']&amp;component=$module['bugs-component']">$_("Report bugs to Bugzilla")</a>.</p>
#end if
</td></tr></table>

#if len($module.branch)
<!-- Links to branches of module -->
<p><b>$_("Branches:")</b>
#set alreadyOne=0
#for branch in $branches
#if $alreadyOne
 - 
#end if
<a href="#$branch">$branch</a>
#set alreadyOne=1
#end for
</p>
<!-- Main loop through branches -->
#for branch in $branches
#set data=$module.branch[$branch]
<h2><a name="$branch"></a>$branch
#if $module.scmroot.type == "cvs" and $data.has_key('scmweb')
(<a href="$data['scmweb']">$_("Browse CVS")</a>)
#elif $module.scmroot.type == "svn" and $data.has_key('scmweb') and $branch!='HEAD'
(<a href="$data['scmweb']">$_("Browse SVN")</a>)
#elif $module.scmroot.type == "svn" and $module.has_key('scmweb')
(<a href="$module['scmweb']">$_("Browse SVN")</a>)
#end if
</h2>
#if $data.has_key('stringfrozen') and $data.stringfrozen=='true'
<p>$_("This branch is currently string-frozen.")</p>
#end if

<table><tr><td valign="top"><!-- split to two columns -->

#if len($data.document)
#if len($data.document)>1
<h3>$_("Documentation")</h3>
#end if
#for docdir, document in $data.document.items()

#set global webdir=$webroot+"/POT/"+$module.id+"."+$branch+"/docs/"+$document.potbase+"."+$branch
#set global domain=$document
#set global uidir=$docdir
#set global branch=$branch
#include "templates/show-stats.tmpl"

#end for
#end if



</td><td valign="top"><!-- split to two columns -->


#if len($data.domain)
#if len($data.domain)>1
<h3>$_("Translation")</h3>
#end if
#for uidir, domain in $data.domain.items()

#set global webdir=$webroot+"/POT/"+$module.id+"."+$branch+"/"+$domain.potbase+"."+$branch
#set global domain=$domain
#set global uidir=$uidir
#set global branch=$branch
#include "templates/show-stats.tmpl"

#end for
#end if

</td></tr></table><!-- split to two columns -->


<!-- cycle through branches -->
#end for
#end if

</div>
#include "templates/footer.tmpl"
