{% extends "base.html" %}
{% load i18n %}

{% block title %} Module Edition (branches) {% endblock %}

{% block content %}
<div class="mainpage">

<h1><a href="{% url stats.views.module module_name=module.name %}">{{ module.get_description }}</a></h1>

{% if module.homepage %}
  <p><a href="{{ module.homepage }}">{{ module.homepage }}</a></p>
{% endif %}

<form action="#" method="POST">
<table>
<tr><th>Branch</th><th>Release</th><th>Category</th></tr>
{% for field1, field2, field3 in form.get_branches %}
  <tr><td>{{ field1.label }}</td><td>{{ field1 }}</td><td>{{ field2 }}</td><td>{{ field3 }} <i>delete?</i></td></tr>
{% endfor %}

  <tr><td>{{ form.new_branch }}</td><td>{{ form.new_branch_release }}</td><td>{{ form.new_branch_category }}</td></tr>
  <tr><td colspan="3" align="right"><input type="submit" value="Save" /></td></tr> 
</table>
</form>

</div>
{% endblock %}
