{% extends "base.html" %}
{% load i18n stats_extras %}

{% block title %} {% blocktrans with module.description as name %}Module Doc Figure Status: {{ name }}{% endblocktrans %} {% endblock %}

{% block content %}
<div class="mainpage">

<h1><a href="{% url stats.views.module module.name %}">{{ module.description }}</a> {% trans stat.domain.description %} ({% trans stat.language.name %})</h1>

<h2>{% trans "Figures translation status" %} &mdash;
    <small>{{ figstats|num_stats }}</small></h2>

<table class="stats">
<thead><tr><th width="50%">{% trans "Original" %}</th><th width="50%">{% trans stat.language.name %}</th></tr></thead>
{% for fig in stat.get_figures %}
  <tr><td valign="top">
    <a href="{{ fig.orig_remote_url }}"><span class="path">C/{{ fig.path }}</span><br/></a>
    {% if fig|is_video %}<video src="{{ fig.orig_remote_url }}" controls></video>
    {% else %}<a href="{{ fig.orig_remote_url }}"><img class="screenshot" src="{{ fig.orig_remote_url }}"/></a>
    {% endif %}
    </td>
    <td valign="top" class="{{ fig.fuzzy|yesno:"fuzzy," }}">
    {% if fig.translated %}
      {% if fig.translated_file %}
        <a href="{{ fig.trans_remote_url }}"><span class="path">{{ locale }}/{{ fig.path }}</span></a><br/>
        {% if fig|is_video %}<video src="{{ fig.orig_remote_url }}" controls></video>
        {% else %}<a href="{{ fig.trans_remote_url }}"><img class="screenshot" src="{{ fig.trans_remote_url }}"/></a>
        {% endif %}
      {% else %}
      <p><em>{% trans "Translated, but uses original one (maybe the figure doesn't contain any string to translate)" %}</em></p>
      {% endif %}
    {% else %}
      {% if fig.fuzzy %}
        <em>{% trans "Fuzzy" %}</em><br/>
        {% if fig.translated_file %}
          <a href="{{ fig.trans_remote_url }}"><span class="path">{{ locale }}/{{ fig.path }}</span></a><br/>
          {% if fig|is_video %}<video src="{{ fig.orig_remote_url }}" controls></video>
          {% else %}<a href="{{ fig.trans_remote_url }}"><img class="screenshot" src="{{ fig.trans_remote_url }}"/></a>
          {% endif %}
        {% else %}
      <p><em><small>{% trans "No existing file (&quot;Technical&quot; fuzzy)" %}</small></em></p>
        {% endif %}
      {% else %}
        <em>{% trans "Not translated" %}</em><br/>
        <img src="{{ MEDIA_URL }}img/emptyimg.png">
      {% endif %}
    {% endif %}
    </td>
  </tr>
{% endfor %}
</table>

</div>

{% endblock %}
