{% extends "base.html" %}
{% load i18n %}
{% load stats_extras %}

{% block title %}
{% blocktrans with module.get_description as name %}Module Statistics: {{ name }}{% endblocktrans %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() { 
        $(".branch").click(function(event) {
            event.preventDefault();
            branch_div = $("#div-"+this.id);
            is_visible = branch_div.is(':visible');
            if (is_visible) {
                branch_div.hide();
                $(this).children('img').attr("src", "{{ MEDIA_URL }}img/closed.png");
            } else {
                if (branch_div.attr("class") == "empty") {
                    // Load the branch stats dynamically
                    branch_div.load("/module/{{ module.name }}/branch/"+this.id+"/");
                    branch_div.attr("class", "loaded");
                }
                branch_div.show();
                $(this).children('img').attr("src", "{{ MEDIA_URL }}img/open.png");
            }
        });
    }
);
</script>
{% endblock %}

{% block content %}
<div class="mainpage">

<h1>{{ module.get_description }}</h1>

{% if module.comment %}
  <p>{% trans module.comment %}</p>
{% else %}
  {% if not module.has_standard_vcs %}
  <p><em><img src="/media/img/warn.png" alt="Warning logo" /> {{ non_standard_repo_msg }}</em></p>
  {% endif %}
{% endif %}

{% if module.homepage %}
  <p><a href="{{ module.homepage }}">{{ module.homepage }}</a></p>
{% endif %}

<table width="100%">
  <tr>
    <td width="50%" valign="top">
      {% if module.maintainers.all %}
      <h2>{% trans "Maintainers" %}</h2>
      {% for person in module.maintainers.all %}
        {% include "people/person_overview.html" %}
      {% endfor %}
      {% endif %}
    </td>
    <td width="50%" valign="top">
      {% if module.bugs_base %}
      <h2>{% trans "Bug reporting" %}</h2>
      <ul>
        {% if module.get_bugs_i18n_url %}
        <li><a href="{{ module.get_bugs_i18n_url }}">{% trans "Show existing i18n and l10n bugs" %}</a></li>
        {% endif %}
        <li><a href="{{ module.get_bugs_enter_url }}">{% trans "Report bugs to Bugzilla" %}</a></li>
      </ul>
      {% endif %}
    </td>
  </tr>
</table>

{% if branches %}
  <!-- Links to branches of module -->
  <p><strong>{% trans "Branches:" %}</strong>
  {% for branch in branches %}
    {% ifnotequal forloop.counter 1 %} - {% endifnotequal %}
    <a href="#{{ branch.name }}">{{ branch.name }}</a>
  {% endfor %}
  {% if can_edit_branches %}
    <a href="{% url stats.views.module_edit_branches module_name=module.name %}"><img src="/media/img/edit.png" alt="Edit" /></a>
  {% endif %}
  </p>

  <!-- Main loop through branches -->
  {% for branch in branches %}
    <h2>
    {% ifless forloop.counter 3 %}
      <a href="." class="branch" id="{{ branch.name }}"><img src="{{ MEDIA_URL }}img/open.png" /></a>
    {% else %}
      <a href="." class="branch" id="{{ branch.name }}"><img src="{{ MEDIA_URL }}img/closed.png" /></a>
    {% endifless %}
     <a name="{{ branch.name }}"></a>{{ branch.name }}
    {% if branch.get_vcs_web_url %}
      <small>(<a href="{{ branch.get_vcs_web_url }}">{% trans "Browse Repository" %}</a>)</small>
    {% endif %}
    </h2>
    {% ifless forloop.counter 3 %}
      <div id="div-{{ branch.name }}" class="loaded">
      {% include "branch_detail.html" %}
      </div>
    {% else %}
      <div id="div-{{ branch.name }}" class="empty" style="display:none;"></div>
    {% endifless %}

  {% endfor %}
{% endif %}

</div>
{% endblock %}
