{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "GNOME Modules" %} {% endblock %}

{% block content %}
<div class="mainpage">

<h1>{% trans "GNOME Modules" %}</h1>

<p>{% trans "Select a module below to see some of the damned lies about it:" %}</p>

<div style="column-count:3;-moz-column-count:3;-webkit-column-count:3">
<ul class="foot">
{% for mod in modules %}
  <li><a href="{% url stats.views.module mod.name %}">{{ mod.translated_name }} </a></li>
{% endfor %}
</ul>
</div>

</div>
{% endblock %}
