{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "GNOME Modules" %} {% endblock %}

{% block content %}
<div class="mainpage">

<h1>{% trans "GNOME Modules" %}</h1>

<p>{% trans "Select a module below to see some of the damned lies about it:" %}</p>

{% load list_to_columns %}
<div class="col3_container">
  {% list_to_columns modules as columns 3 %}
  {% for l in columns %}
  <div class="col3_column">
    <ul class="foot">
      {% for m in l %}
      <li><a href="{% url stats.views.module m.name %}">{{ m.get_description }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

</div>
{% endblock %}
