#set global pageTitle=$_("Module Doc Figure Status: %s" % $module.description)
#set global pageSection="module"
#include "templates/header.tmpl"

<div class="mainpage">

<h1><a href="${webroot}/module/$module.id">$module.description</a> $document.help.description ($language)</h1>

<h2>$_("Figures translation status") &mdash; <small>$(stats.prc)% ($stats.translated/$stats.fuzzy/$stats.untranslated)</small></h2>

<table class="stats">
<thead><tr><th width="50%">$_("Original")</th><th width="50%">$language</th></tr></thead>
#for fig in $figures
  #set tdclass=""
  #if $fig['fuzzy']
  #set tdclass="fuzzy"
  #end if
<tr><td valign="top">
    <a href="$svnwebpath/C/$fig['path']"><span class="path">C/$fig['path']</span><br/></a>
    <a href="$svnpath/C/$fig['path']"><img class="screenshot" src="$svnpath/C/$fig['path']"/></a>
    </td>
    <td valign="top" class="$tdclass">
    #if $fig['translated']
      #if $fig['translated_file']
      <a href="$svnwebpath/$langid/$fig['path']"><span class="path">$langid/$fig['path']</span></a><br/>
      <a href="$svnpath/$langid/$fig['path']"><img class="screenshot" src="$svnpath/$langid/$fig['path']"/></a>
      #else
      <p><em>$_("Translated, but uses original one (maybe the figure doesn't contain any string to translate)")</em></p>
      #end if
    #elif $fig['fuzzy']
    <em>Fuzzy</em><br/>
      #if $fig['translated_file']
      <a href="$svnwebpath/$langid/$fig['path']"><span class="path">$langid/$fig['path']</span></a><br/>
      <a href="$svnpath/$langid/$fig['path']"><img class="screenshot" src="$svnpath/$langid/$fig['path']"/></a>
      #else
      <p><em><small>$_("No existing file (\"Technical\" fuzzy)")</small></em></p>
      #end if
    #else
    <em>$_("Not translated")</em><br/>
    <img src="${webroot}/data/emptyimg.png">
    #end if
    </td>
</tr>
#end for
</table>

</div>
#include "templates/footer.tmpl"
