#set global pageTitle=$_("GNOME Contributors")
#set global pageSection="teams"
#include "templates/header.tmpl"

<div class="mainpage">

  <h2>$_("GNOME Contributors")</h2>

#if len($people)
<p>$_("GNOME is being developed by following people:")</p>

<div class="col1">
#set count = 1
#set col = 1
#for personid in $people
  #set global person=$people[personid]

  <div class="maintainer">
  #if $person.icon != '/data/nobody.png'
    <img class="people" src="$person.icon" alt="$person.name" />
  #else
  <img class="people" src="${webroot}/data/nobody.png" alt="" />
  #end if
  <a style="font-size: 120%;" href="${webroot}/people/$person.id">$person.name</a><br />
  #if $person.webpage
  <a href="$person.webpage">$person.webpage</a><br />
  #end if
  </div>

  #if $count % (len($people)/2+1) == 0
    #set col += 1
    </div><div class="col${col}">
  #end if
  #set count += 1

#end for
</div>

#else
<p>$_("There are no contributors, GNOME turned itself up from nothing.")</p>
#end if

</div>
#include "templates/footer.tmpl"
