#set global pageTitle=$_("GNOME Contributors")
#set global pageSection="teams"
#include "templates/header.tmpl"

<div class="mainpage">

  <h2>$_("GNOME Contributors")</h2>

#if len($people)
<p>$_("GNOME is being developed by following people:")</p>

<ul>
#for personid in $people
  #set global person=$people[personid]

  <div class="maintainer">
  #if not $person.has_key('icon')
    #set $person.icon = "${webroot}/data/nobody.png"
  #end if
  <img class="people" src="$person.icon" alt="" />
  <a style="font-size: 120%;" href="${webroot}/people/$person.id">$person.name</a><br />
  #if $person.webpage
  <a href="$person.webpage">$person.webpage</a><br />
  #end if
  </div>

#end for
</ul>

#else
<p>$_("There are no contributors, GNOME turned itself up from nothing.")</p>
#end if

</div>
#include "templates/footer.tmpl"
