{# Variables $person and $printroles must be defined prior to calling this template #}
{# This template is included in person.html, team.html and language-release.html #}

{% load i18n %}

  <div class="maintainer">
  {% if person.image %}
    <img class="people" src="{{ person.image }}" alt="{{ person.name }}" />
  {% else %}
    <img class="people" src="/media/img/nobody.png" alt="" />
  {% endif %}

  <a style="font-size: 140%;" href="{{ person.get_absolute_url }}">{{ person.name }}</a><br />

  {% if person.nospamemail %}
    <a href="mailto:{{ person.nospamemail }}">{{ person.nospamemail }}</a><br />
  {% endif %}
  {% if person.webpage_url %}
    <a href="{{ person.webpage_url }}">{{ person.webpage_url }}</a><br />
  {% endif %}

  <br />
  {% if person.irc_nick %}
    <strong>{% trans "Instant messaging:" %}</strong>
    <ul>
    <li><em>{{ person.irc_nick }}</em> (IRC)</li>
    </ul>
  {% endif %}

  {% if person.nospambugzillaaccount %}
    <strong>{% trans "Bugzilla account:" %}</strong> {{ person.nospambugzillaaccount }}<br />
  {% endif %}

  {% if person.svn_account %}
  <strong>{% trans "SVN account:" %}</strong> <a href="http://cia.vc/stats/author/{{ person.svn_account }}">{{ person.svn_account}}</a><br />
  {% endif %}

  {% if printroles %}
      {% if person.maintains_modules.all %}
      <h2>{% trans "Maintains:" %}</h2>
      <ul>
        {% for module in person.maintains_modules.all %}
        <li><a href="{{ module.get_absolute_url }} ">{{ module.description }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if person.coordinates_teams.all %}
      <h2>{% trans "Coordinates:" %}</h2>
      <ul>
        {% for team in person.coordinates_teams.all %}
          <li>
            {% blocktrans with team.get_absolute_url as team_url and team.description as team_desc %}
            Coordinates <a href="{{ team_url }}">{{ team_desc }}</a>
            {% endblocktrans %}
          </li>
        {% endfor %}
      </ul>
      {% endif %}
  {% endif %}

</div>
