#set global pageTitle=$_("GNOME Contributor")
#set global pageSection="teams"
#include "templates/header.tmpl"

<div class="mainpage">

  <h2>${person.name} (${person.id})</h2>
  #set global printroles=1
  #include "templates/person-base.tmpl"

</div>

#include "templates/footer.tmpl"
