{% extends "base.html" %}
{% load i18n %}
{% load stats_extras %}

{% block title %} {% trans "Releases Comparison" %} {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#stats").tablesorter({sortList: [[0,0]]});
    }
);
</script>
{% endblock %}

{% block content %}
<div class="mainpage">

<h1>{% trans "Releases Comparison" %}</h1>

<table class="tablesorter" id="stats">
  <thead>
    <tr>
    <th class="header">{% trans "Languages" %}</th>
    {% for rel in releases %}
      <th class="header">{{ rel.name }}</th>
    {% endfor %}
    <th class="header">{% trans "Progress" %}</th>
    </tr>
  </thead>

{% for locale, stat in stats.items %}
<tr class="stats">
  <td class="stats leftcell">
    <span class="hidden">{{ stat.lang.get_name }}</span><!-- for sorting purpose -->
    <a href="{{ stat.lang.get_team_url }}">{{ stat.lang.get_name }}</a> ({{ locale }})
  </td>
  {% for perc in stat.stats %}
    <td class="stats {{ perc|support_class }}">{{ perc }}%</td>
  {% endfor %}
  <td class="stats">{{ stat.diff }}%</td>
</tr>
{% endfor %}
</table>

</div>
{% endblock %}
