<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>${_("%(release)s Release"), release=$release.description}</title>
  <link rel="stylesheet" href="${webroot}/data/main.css"/>
#if $rtl
  <link rel="stylesheet" href="${webroot}/data/rtl.css"/>
#end if
 
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
#if $rtl
<body dir="rtl">
#else
<body>
#end if

<div class="mainpage">

<h1>${_("%(release)s Release"), release=$release.description}</h1>
#if $release.type=="external"
<p><i>$_("The modules of this release are not part of the GNOME SVN repository. Please check each module's web page to see where to send translations.")</i></p>
#end if


#if len($status)
<table class="stats">
<thead><tr><th>$_("Release")</th><th>$_("Documentation")</th><th>$_("Graph")</th><th>$_("User Interface")</th><th>$_("Graph")</th></tr></thead>
#for lstats in $status
<tr>
  <td class="left" style="font-size:120%;"><a href="${webroot}/languages/$lstats.code/${release.id}">${lstats.name}</a>
  #if $lstats.has_key('errors')
    #for error in $lstats.errors
    <img src="$webroot/data/${error[0]}.png" title="${error[1]}">
    #end for
  #end if
  </td>
  <td>${lstats.doc_supportedness}% ($lstats.doc_translated/$lstats.doc_fuzzy/$lstats.doc_untranslated)</td>
  <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width: ${lstats.doc_percentages.translated}px;"></div>
      <div class="fuzzy" style="left:${lstats.doc_percentages.translated}px; width:${lstats.doc_percentages.fuzzy}px;"></div>
      #set upos=$lstats.doc_percentages.translated + $lstats.doc_percentages.fuzzy
      <div class="untranslated" style="left:${upos}px; width: ${lstats.doc_percentages.untranslated}px;"></div>
     </div>
   </td>
  <td>${lstats.ui_supportedness}% ($lstats.ui_translated/$lstats.ui_fuzzy/$lstats.ui_untranslated)</td>
  <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width: ${lstats.ui_percentages.translated}px;"></div>
      <div class="fuzzy" style="left:${lstats.ui_percentages.translated}px; width:${lstats.ui_percentages.fuzzy}px;"></div>
      #set upos=$lstats.ui_percentages.translated + $lstats.ui_percentages.fuzzy
      <div class="untranslated" style="left:${upos}px; width: ${lstats.ui_percentages.untranslated}px;"></div>
     </div>
   </td>
</tr>
#end for
</table>
#end if



</div>
</body>
</html>
