#from l10n import MyFilter
#filter $MyFilter

<h3>$domain.description</h3>
<a href="${webdir}.pot">
<img src="$webroot/data/download.png" alt="Download POT file" />
#if $domain.has_key('pot_size')
  ${ngettext("POT file (%(potsize)s message)", "POT file (%(potsize)s messages)", $domain.pot_size),potsize=$domain.pot_size}
#end if
</a>
#if $domain.has_key('updated')
— ${_("updated on %(date)s"), date="<strong>"+$domain.updated+"</strong>."}
#end if

#if $domain.has_key('pot_messages') and len($domain.pot_messages)
<h4>$_("Notices")</h4>
<table>
#for $msg in $domain.pot_messages
<tr><td valign="top"><img src="$webroot/data/${msg.type}.png" alt="${msg.type}" /></td><td>$msg.content</td></tr>
#end for
</table>
#end if


#if $domain.statistics and len($domain.statistics)
<table class="stats">
<thead><tr><th>$_("Language")</th><th>$_("Translated")</th><th>$_("Graph")</th></tr></thead>
#for lstat in $domain.statistics
<tr>
  <td class="left"><a href="${webdir}.${lstat.code}.po">$lstat.language_name ($lstat.code)</a>
#if $lstat.po_error
    <img src="$webroot/data/${lstat.po_error}.png" title="${lstat.po_error_message}" />
#end if
  </td>
  #if $lstat.has_key('supportedness')
  <td>${lstat.supportedness}% ($lstat.translated/$lstat.fuzzy/$lstat.untranslated)</td>
  <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width: ${lstat.percentages.translated}px;"></div>
      <div class="fuzzy" style="left:${lstat.percentages.translated}px; width:${lstat.percentages.fuzzy}px;"></div>
#set upos=$lstat.percentages.translated + $lstat.percentages.fuzzy
      <div class="untranslated" style="left:${upos}px; width: ${lstat.percentages.untranslated}px;"></div>
     </div>
   </td>
  #end if
</tr>
#end for
</table>
#end if
#end filter
