{% load i18n stats_extras %}

{% for dname, stat in stats.items %}
    {% with stat|first as pot_stat %}
    
    <div class="stats_show">
    
    <h3>{% trans pot_stat.domain.get_description %}
        
        {% if pot_stat|domain_type == "mallard" %}
            <img src="{{ MEDIA_URL }}img/mallard.png" title="{% trans "This document is written in Mallard documentation format" %}" alt="mallard icon"/>
        {% endif %}

        {% if pot_stat.full_po %}
            <a href="{{ pot_stat.po_url }}" class="icon_button" title="{% trans 'Download POT file' %}"><img src="{{ MEDIA_URL }}newimg/download-icon.png" alt="{% trans 'Download POT file' %}" /></a>
        {% endif %}
    
    </h3>
    
    {% if pot_stat.domain.directory != 'help' and pot_stat.domain.directory != 'po' %}
    <p class="path">{{ pot_stat.domain.directory }}</p>
    {% endif %}

    <p class="pot_information">{{ pot_stat.pot_text }}</p>

    <!-- This is the title of the section that lists notices about a module -->
    {% if pot_stat.informations %}
        <div class="notices">
            <h4>{% trans "Notices" %}</h4>
            {% for msg in pot_stat.informations %}
                <div class="item">
                    {{ msg.get_description|safe }}
                    
                    {% if user.is_authenticated %}
                        {% if msg.type == 'error' or msg.type == 'error-ext' %}
                        <div class="actions">
                            <a href="{{ module|browse_bugs:'error+pot+file' }}" target="_blank">
                                <img src="{{ MEDIA_URL }}img/search.png" alt="{% trans 'Search for similar bugs before reporting it' %}" title="{% trans 'Search for similar bugs before reporting it' %}"/>
                            </a>
                            <a href="{{ msg.report_bug_url }}" target="_blank">
                                <img src="{{ MEDIA_URL }}img/bug.png" alt="{% trans 'Report this bug' %}" title="{% trans 'Report this bug' %}" />
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <table class="stats">
    <thead><tr>
        <th>{% trans "Language" %}</th><th>{% trans "Translated" %}</th>
        {% if pot_stat.full_po.fig_count %}
        <th></th>
        {% endif %}
        <th>{% trans "Graph" %}</th>
    </tr></thead>
    <!-- FIXME line / stat / stats naming -->
    {% for line in stat %}
    {% if not forloop.first %}
    <tr>
      <td class="leftcell">
        <a href="{% url vertimus_by_names module.name,branch.name,pot_stat.domain.name,line.language.locale %}">
          {% if user_language.locale == line.language.locale %}
            <b>{{ line.get_lang }}</b>
          {% else %}
            {{ line.get_lang }}
          {% endif %}
        </a>
        {% with line.most_important_message as msg %}
        {% if msg %}
        <img src="{{ msg.get_icon }}" title="{{ msg.get_description }}" alt="{{ msg.type }}" />
        {% endif %}
        {% endwith %}
      </td>
      <td>{{ line|num_stats }}</td>
      {% if pot_stat.full_po.fig_count %}
      <td><a href="{% url stats.views.docimages module_name=module.name,potbase=pot_stat.domain.name,branch_name=branch.name,langcode=line.language.locale %}">
          <img src="{{ MEDIA_URL }}img/figure.png" alt="{% trans "Display document figures" %}"></a>
      </td>
      {% endif %}
      <td style="width: 108px; text-align: center;">
        <div class="graph">{{ line|vis_stats }}</div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    
    </div>
    
    {% endwith %}
{% endfor %}
