{% load i18n %}

{% for dname, stat in stats.items %}
  {% with stat|first as pot_stat %}
  <h3>{% trans pot_stat.domain.get_description %}
  {% ifnotequal pot_stat.domain.directory 'help' %}
    {% ifnotequal pot_stat.domain.directory 'po' %}
    <br />
    <span class="path">{{ pot_stat.domain.directory }}</span>
    {% endifnotequal %}
  {% endifnotequal %}
  </h3>
  <a href="{{ pot_stat.po_url }}"><img src="{{ MEDIA_URL }}img/download.png" alt="{% trans "Download POT file" %}" /></a>
  {{ pot_stat.pot_text }}
  <!-- This is the title of the section that lists notices about a module -->
  {% if pot_stat.informations %}
  <h4>{% trans "Notices" %}</h4>
  <table>
    {% for msg in pot_stat.informations %}
    <tr>
      <td valign="top"><img src="{{ msg.get_icon }}" alt="{{ msg.type }}" /></td>
      <td>{{ msg.get_description|safe }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <table class="stats">
    <thead><tr>
        <th>{% trans "Language" %}</th><th>{% trans "Translated" %}</th>
        {% if pot_stat.fig_count %}
        <th></th>
        {% endif %}
        <th>{% trans "Graph" %}</th>
    </tr></thead>
    <!-- FIXME line / stat / stats naming -->
    {% for line in stat %}
    {% if not forloop.first %}
    <tr>
      <td class="leftcell"><a href="{% url vertimus_by_names module.name,branch.name,pot_stat.domain.name,line.language.locale %}">{{ line.get_lang }}</a>
        {% with line.most_important_message as msg %}
        {% if msg %}
        <img src="{{ msg.get_icon }}" title="{{ msg.get_description }}" alt="{{ msg.type }}" />
        {% endif %}
        {% endwith %}
      </td>
      <td>{{ line.get_translationstat|safe }}</td>
      {% if pot_stat.fig_count %}
      <td><a href="{% url stats.views.docimages module_name=module.name,potbase=pot_stat.domain.name,branch_name=branch.name,langcode=line.language.locale %}">
          <img src="{{ MEDIA_URL }}img/figure.png" alt="{% trans "Display document figures" %}"></a>
      </td>
      {% endif %}
      <td style="width: 108px; text-align: center;">
        <div class="graph">
          <div class="translated" style="width: {{ line.tr_percentage }}px;"></div>
          <div class="fuzzy" style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ line.tr_percentage }}px; width:{{ line.fu_percentage }}px;"></div>
          <div class="untranslated" style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ line.tr_percentage|add:line.fu_percentage }}px; width: {{ line.un_percentage }}px;"></div>
        </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endwith %}
{% endfor %}
