#set global pageTitle=$language_name
#set global pageSection="teams"
#include "templates/header.tmpl"

<div class="mainpage">

#if $team
<h1>${_("%(lang)s Translation Team"), lang=$team.description}</h1>

<table><tr><td valign="top" width="50%">
  <h2>$_("Details")</h2>

  #if $team.webpage and $team.has_key('description')
  <strong>${_("%(lang)s Translation Team Page:"), lang=$team.description}</strong> <a href="$team.webpage">$team.webpage</a><br />
  #end if

  #if $team.userpage
  <strong>$_("Users Web Page:")</strong> <a href="$team.userpage">$team.userpage</a><br />
  #end if

  #if $team.bugzilla and $team.has_key('bugzilla-component')
  <br/><strong>$_("Bugzilla:")</strong>
  <ul>
    <li><a href="${team.bugzilla}enter_bug.cgi?product=$team['bugzilla-product']&amp;component=$team['bugzilla-component']">$_("Report Bug in Translation")</a></li>
    <li><a href="${team.bugzilla}buglist.cgi?product=$team['bugzilla-product']&amp;component=$team['bugzilla-component']&amp;bug_status=NEW&amp;bug_status=REOPENED&amp;bug_status=ASSIGNED&amp;bug_status=UNCONFIRMED">$_("Show Existing Bugs")</a></li>
  </ul>
  #end if

  #if $team.has_key('mailing-list')
  <br/><strong>$_("Mailing List:")</strong>
  <ul>
    <li><a href="mailto:${team['mailing-list']}">$_("Send e-mail to the list")</a></li>
    #if $team.has_key('mailing-list-subscribe')
    <li><a href="${team['mailing-list-subscribe']}">$_("Subscribe")</a></li>
    #end if
  </ul>
  #end if

  </td><td valign="top">
  #if $team.has_key('coordinator')
    <h2>$_("Coordinator")</h2>
    #set global person=$team.coordinator
    #set global printroles=0
    #include "templates/person-base.tmpl"
  #end if
</td></tr></table>
  #set languageDict = $team.language
#else
  <h1>${_("Language code: %s") % $language}</h1>
  #set languageDict = $langstats
#end if

#if len($languageDict)
#for $lang, $ldata in $languageDict.items()
<h2>$ldata.content</h2>

#set releases=$ldata.releases
#if len($releases)
<table class="stats">
<thead><tr><th>$_("Release")</th><th>$_("Documentation")</th><th>$_("Graph")</th><th>$_("User Interface")</th><th>$_("Graph")</th></tr></thead>
#for release in $releases
<tr>
  <td class="leftcell" style="font-size:120%;"><a href="${webroot}/languages/$lang/${release.id}">${release.description}</a>
  #if $release.has_key('po_error')
    <img src="$webroot/data/${release.po_error}.png" title="${release.po_error_message}">
  #end if
  </td>
  
  #if $release.doc_translated+$release.doc_fuzzy+$release.doc_untranslated > 0  
  <td>${release.doc_supportedness}% ($release.doc_translated/$release.doc_fuzzy/$release.doc_untranslated)</td>
  #else
  <td>$_("-")</td>
  #end if

  <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width: ${release.doc_percentages.translated}px;"></div>
      <div class="fuzzy" style="left:${release.doc_percentages.translated}px; width:${release.doc_percentages.fuzzy}px;"></div>
      #set upos=$release.doc_percentages.translated + $release.doc_percentages.fuzzy
      <div class="untranslated" style="left:${upos}px; width: ${release.doc_percentages.untranslated}px;"></div>
     </div>
   </td>
  <td>${release.ui_supportedness}% ($release.ui_translated/$release.ui_fuzzy/$release.ui_untranslated)</td>
  <td style="width: 108px; text-align: center;"><div class="graph">
      <div class="translated" style="width: ${release.ui_percentages.translated}px;"></div>
      <div class="fuzzy" style="left:${release.ui_percentages.translated}px; width:${release.ui_percentages.fuzzy}px;"></div>
      #set upos=$release.ui_percentages.translated + $release.ui_percentages.fuzzy
      <div class="untranslated" style="left:${upos}px; width: ${release.ui_percentages.untranslated}px;"></div>
     </div>
   </td>
</tr>
#end for
</table>
#end if

#end for
#end if

</div>
#include "templates/footer.tmpl"
